.background-header {
    @include background-image ('/images/background-portfolio.jpg');
    height: 450px;

    &.services-img {
        @include background-image ('/images/background-services.jpg');
    }

    &.style-img {
        @include background-image ('/images/background-garden-style.jpg');
    }

    &.contact-img {
        @include background-image ('/images/background-contact-survey.jpg');
    }

    &.blog-img {
        @include background-image ('/images/background-blog.jpg');
    }
}

.caption-header-background {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        color: $color-font;
        font-size: 50px;
    }
}

.portfolio {
    margin: 80px 0;

    h1 {
        padding-bottom: 20px;
    }

    ul {
        display: flex;
        list-style-type: none;
        font-size: 18px;
        margin: 30px 0;

        li {
            margin: 10px;
        }
    }
}

.portfolio-column-vertical {
    width: 33.333333%;
}

.block {
    padding: 15px;
}

.block-item {
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
    }

    .block-hover {
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        border: 10px solid $border-portfolio;
        background: $background-hover-portfolio;
        text-align: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transition: transform .25s ease-out, opacity .1s ease-out .15s;
		opacity: 0;

        &.top {
            transform: translate(0, -100%);
        }

        &.right {
            transform: translate(100%, 0);
        }

        &.bottom {
            transform: translate(0, 100%);
        }

        &.left {
            transform: translate(-100%, 0);
        }

        a {
            text-decoration: none;
            color: $color-primary;
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            display: block;
            position: relative;
            top: 60%;
        }
    }

    &:hover {

        .block-hover {
			transition: transform .25s ease-out, opacity .1s ease-out 0;
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

.portfolio-block {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;

    .fa-link {
        color: $color-primary;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        transition: .35s ease;

        &:hover {
            transform: scale(1.4, 1.4);
        }
    }
}

.portfolio-wrapper {
    margin-top: 110px;

    .heading-style {
        margin-top: 0;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Source Sans Pro';
        text-transform: uppercase;
        padding-bottom: 15px;
        position: relative;

        &::before {
            content: '';
            height: 1px;
            width: 50px;
            background-color: $color-primary;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.portfolio-column-project {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 50px;
}

.slider-portfolio {
    width: 100%;
    position: relative;
    z-index: 0;
    cursor: pointer;
    background: url('/images/loader.gif') no-repeat 50% 40%;

    &:hover {

        .fa {
            opacity: 1;
        }
    }
}

.portfolio-row-pictures {
    width: 880px;

    .big {
        display: block;
        width: 100%;
    }
}

.portfolio-row-description {
    width: 290px;
    padding-left: 30px;

    p {
        font-weight: 400;
        font-size: 15px;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        line-height: 22.5px;
    }
}

.mini-portfolio-move {
    white-space: nowrap;
    margin-top: 20px;
    transition: margin .2s ease-out;

    img {
        display: inline-block;
        margin-right: 6px;
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &.active {
            opacity: 1;
        }
    }
}

.mini-slider-portfolio {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.portfolio-column-image-top {
    margin: 0 0 100px;

    img {
        display: block;
        max-width: 100%;
    }
}

.inline-element {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px;

    img {
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
        margin: 5px 10px 5px 5px;
    }
}

.label-desc {
    display: inline-block;
    vertical-align: middle;
    font: 12px/16px Arial;
    transition: color .5s ease-out;
}

@media (max-width: 1279px) {
    .portfolio-wrapper {
        margin-top: 50px;

        .heading-style {

            &:nth-child(2),
            &:nth-child(5) {
                margin-left: 20px;
            }
        }
    }

    .portfolio-column-project {
        flex-direction: column;

        .portfolio-row-pictures {
            width: 882px;
            order: 2;
            margin: 0 auto;
        }

        .portfolio-row-description {
            order: 1;
            width: 100%;
            padding: 0 20px 15px;
            box-sizing: border-box;
        }
    }

    .portfolio-column-image-top {
        padding: 0 20px;
        margin-bottom: 50px;
    }
}

@media (max-width: 1023px) {
    .portfolio-column-project {

        .portfolio-row-pictures {
            width: 584px;
        }
    }
}

@media (max-width: 767px) {
    .portfolio-column-project {

        .portfolio-row-pictures {
            width: 436px;
        }
    }
}

@media (max-width: 420px) {
    .portfolio-block {
        flex-direction: column;

        .portfolio-column-vertical {
            width: 100%;
        }
    }

    .portfolio-column-project {

        .portfolio-row-pictures {
            width: 294px;
        }

        .portfolio-row-description {
            padding: 0 0 15px;
        }
    }

    .mini-portfolio-move {

        img {
            width: 92px;
        }
    }

    .portfolio-column-image-top {
        padding: 0;
    }

    .portfolio-wrapper {

        .heading-style {

            &:nth-child(2),
            &:nth-child(5) {
                margin: 0 0 15px;
            }
        }
    }
}
