$color-primary: #94da46;
$color-secondary: #1f2a37;
$color-font: #fff;
$color-font-items: rgba(31, 42, 55, .7);
$color-background: #fff;
$color-background-not-transparent: rgba(31, 42, 55, 1);
$color-background-transparent: rgba(31, 42, 55, .4);
$shadow-box: 0 0 4px 0 rgba(0, 0, 0, .2);
$border-menu: 1px solid #eee;
$transition-property: 1s ease-out .8s;
$color-darken: rgba(31, 42, 55, .6);
$line-color: rgba(238, 238, 238, .5);
$background-color-blog: rgba(31, 42, 55, .2);
$color-font-footer: rgba(255, 255, 255, .7);
$background-color-instagram: rgba(0, 0, 0, .4);
$background-hover-portfolio: rgba(255, 255, 255, .9);
$border-portfolio: rgba(148, 218, 70, .9);
$arrow-color: rgba(0, 0, 0, .4);
$background-block-hover: rgba(131, 202, 177, .5);
$border-input: #ebebeb;
$border-bottom: #eee;
$reset-color: #ed3608;
$night: #000;
$font-night: #aaa;
$slider-background: rgba(0, 0, 0, .8);
