<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div class="column-footer">
                <img src="/images/logo.png" alt="Logo białe" class="logo-white" />
                <p>Jesteśmy kreatywną firmą zajmującą się projektowaniem ogrodów, terenów miejskich oraz zieleni we wnętrzach budynków. Przeprowadzamy również renowację ogrodów historycznych. Ogrody to nasza pasja, którą staramy się zarażać inne osoby.</p>
            </div>
            <div class="column-footer">
                <h4>Nasze biuro</h4>
                <div class="info-wrapper">
                    <i class="fa fa-map-marker"></i>
                    <div class="ico-info">
                        <h6>Adres</h6>
                        <p>15-085 Białystok,<br />Osiedle Piasta II<br />Projekty przez internet - cała Polska</p>
                    </div>
                </div>
                <div class="info-wrapper">
                    <i class="fa fa-phone"></i>
                    <div class="ico-info">
                        <h6>Telefon</h6>
                        <p>+48 792 666 279</p>
                    </div>
                </div>
                <div class="info-wrapper">
                    <i class="fa fa-envelope"></i>
                    <div class="ico-info">
                        <h6>E-mail</h6>
                        <p>info@tuin.pl</p>
                    </div>
                </div>
            </div>
            <div class="column-footer">
                <h4>Newsletter</h4>
                <p>Subskrybuj nasz newsletter aby dostawać powiadomienia o nowych artykułach na naszym blogu.</p>
                <form class="form-footer">
                    <input type="text" name="e-mail" placeholder="Wpisz swój e-mail" /><br /><br />
                    <input type="submit" value="Wyślij" />
                </form>
            </div>
            <div class="column-footer">
                <h4>Projekty</h4>
                <div class="footer-picture">
                    <nav class="column-picture">
                        <a href='/portfolio/five'>
                            <img src="/images/instagram1.jpg" alt="portfolio obraz 1" />
                        </a>
                        <a href="/portfolio/eight">
                            <img src="/images/instagram2.jpg" alt="portfolio obraz 1" />
                        </a>
                        <a href="/portfolio/seven">
                            <img src="/images/instagram4.jpg" alt="portfolio obraz 1" />
                        </a>
                    </nav>
                    <nav class="column-picture">
                        <a href="/portfolio/six">
                            <img src="/images/instagram5.jpg" alt="portfolio obraz 1" />
                        </a>
                        <a href="/portfolio/one">
                            <img src="/images/instagram6.jpg" alt="portfolio obraz 1" />
                        </a>
                        <a href="/portfolio/three">
                            <img src="/images/instagram7.jpg" alt="portfolio obraz 1" />
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="footer-top">
            <div class="back-to-top">
                <div class="top">
                    <i class="fa fa-angle-up"></i>
                    <a href="#top-site"><p>TOP</p></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/build/all.js"></script>