<div class="top-bar" id="top-site">
    <div class="container">
        <div class="row">
            <div class="top-bar-left">
                <aside>Witamy na stronie Tuin - Projektowanie ogrodów</aside>
            </div>
            <div class="top-bar-right">
                <aside>
                    <div class="company-info">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Białystok, Osiedle Piasta II
                    </div>
                    <div class="company-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        792-666-279
                    </div>
                    <div class="company-info">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        info@tuin.pl
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<header class="header-nav-above">
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-green-black.png" alt="logo Tuin" />
                </a>
            </div>
            <div class="customize-item">
                <div class="step-info">
                    <div class="number">1</div>
                    <a href="/garden-style">
                        <div class="content-step">
                            <h4>WYBIERZ SWÓJ STYL</h4>
                            <p>Dowiedz się więcej na temat styli ogrodowych.</p>
                        </div>
                    </a>
                    <div class="number">2</div>
                    <a href="/survey-contact#go-to-survey">
                        <div class="content-step">
                            <h4>WYPEŁNIJ ANKIETĘ</h4>
                            <p>Sprawdź ile kosztuje projekt ogrodu.</p>
                        </div>
                    </a>
                    <div class="number">3</div>
                    <a href="/services#design-internet">
                        <div class="content-step">
                            <h4>PROJEKT ONLINE</h4>
                            <p>Zaprojektuj swój ogród przez Internet.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-wrapper color-menu">
    <div class="moving-menu">
        <div class="container">
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="menu">
                <div class="menu-left">
                    <ul>
                        <li>
                            <a href="/">STRONA GŁÓWNA</a>
                        </li>
                        <li>
                            <a href="/#about">O NAS</a>
                        </li>
                        <li class="with-menu">
                            <a class="services" href="/services">USŁUGI</a>
                            <div class="menu-sub">
                                <ul>
                                    <li>
                                        <a href="/services#design">Projektowanie</a>
                                    </li>
                                    <li>
                                        <a href="/services#making">Realizacja projektów</a>
                                    </li>
                                    <li>
                                        <a href="/services#design-internet">Projekt przez internet</a>
                                    </li>
                                    <li>
                                        <a href="/services#measuring">Inwentaryzacja</a>
                                    </li>
                                    <li>
                                        <a href="/services#others">Inne</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="/portfolio">PORTFOLIO</a>
                        </li>
                        <li>
                            <a href="/survey-contact">KONTAKT</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-right">
                    <a href="/blog">BLOG</a>
                </div>
            </div>
        </div>
    </div>
</div>