<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/3483792/East-Valley-Road-farmhouse-landscape-santa-barbara' target='_blank'><img src='/images/garden-style/cottage-garden/cottage-garden.jpg' alt='Cottage-Garden'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród wiejski</h2>
                        <p>Te nieformalne bujne pejzaże powstały z myślą o praktyczności. Zwierzęta hodowlane, ule pszczele, drzewa owocowe, warzywa, zioła to dawniej główne elementy tego ogrodu, podczas gdy kwiaty wykorzystywane były jedynie jako wypełniacz. Nowoczesny ogród w stylu wiejskim koncentruje się na gęstych nasadzeniach z kwiatów i tradycyjnych materiałach budowlanych. Do materiałów stosowanych w tym stylu należą: drewno, kamień, cegła, żwir, kostka, beton. Elementy małej architektury, które możemy spotkać to altany, wiklinowe meble lub doniczki, antyki, budki dla ptaków, ozdobne ławki. Częstym elementem w tym stylu są także ogrody warzywne, budowane także na podwyższeniu oraz ogrody ziołowe. Ogrody wiejskie są nieregularne i nie posiadają konkretnego projektu. Geometryczne, proste idealne linie, lub precyzyjne łuki nie należą do tego stylu. Uwagę skupia się na kolorystyce i wzornictwie sadzenia, upewniając się, że kolor, kształty roślin przyczyniają się do jego harmonijnego połączenia. Ten silnie obsadzony, zarośnięty krajobraz nie jest dla wszystkich. Wiejskie krajobrazy składają się z obszarów, które zapewniają kameralną przestrzeń dla użytkownika. Ciekawy, uroczy na co dzień krajobraz staje się przedłużeniem domu. Współczesne ogrody wiejskie różnią się od odmian regionalnych i osobistych, ale ogólnie nadal koncentrują się głównie na materiale roślinnym. Niewątpliwie ten styl ma ogromny urok i niezwykły charakter.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/17752/Cottage-Garden-Aptos-traditional-landscape-san-francisco' target='_blank'><img src='/images/garden-style/cottage-garden/cottage-garden-a-small.jpg' alt='Cottage Garden'/></a><div class="caption-houzz">Zdjęcie Elemental Design Group</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/17757/Private-Residence-Capitola-CA-traditional-exterior-other' target='_blank'><img src='/images/garden-style/cottage-garden/cottage-garden-b-small.jpg' alt='Cottage Garden'/></a><div class="caption-houzz">Zdjęcie Elemental Design Group</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/102534/Kendall-Lane-Designs-traditional-landscape-boston' target='_blank'><img src='/images/garden-style/cottage-garden/cottage-garden-c-small.jpg' alt='Cottage Garden'/></a><div class="caption-houzz">Zdjęcie doitall</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/680660/Cottage-Garden-shabby-chic-style-landscape-san-diego' target='_blank'><img src='/images/garden-style/cottage-garden/cottage-garden-d-small.jpg' alt=''/></a><div class="caption-houzz">Zdjęcie Designs by Shellene</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>