<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header blog-img">
                <div class="caption-header-background">
                    <h1>Blog</h1>
                    <h3 class="blog-header">Projektowanie ogrodów</h3>
                </div>
            </div>            
        </div>
        <div class="blog-wrapper-posts" id="blog-posts">
            <div class="container">
                <div class="blog-column">
                    <div class="blog-column-posts">
                        <div class="blog-column row">
                            <a class="go-to-post" href="/play-with-light">
                                <div class="blog-image-post">
                                    <i class="fa fa-arrows-alt"></i>
                                    <div class="background-blog-post playing-light"></div>
                                </div>
                            </a>
                            <div class="blog-description">
                                <a href="/play-with-light"><h4 class="header-blog marg">Zabawa z naturalnym światłem</h4></a>
                                <div class="time-post">
                                    <i class="fa fa-clock-o p-color"></i>
                                    <p>15 Styczeń, 2017</p>
                                </div>
                                <p>Światło jest jednym z najważniejszych elementów w procesie projektowania ogrodów. Rozmyślając o nim przychodzi nam do głowy oświetlenie ogrodowe a zapominamy często o świetle dziennym. Przykłady opisane poniżej pozwolą Ci zrozumieć jak istotne jest światło dzienne w kształtowaniu krajobrazu. Dzięki niemu stworzysz niepowtarzalną i oryginalną...</p>
                                <a href="/play-with-light"><p class="read-more">CZYTAJ WIĘCEJ</p></a>
                            </div>
                        </div>
                        <div class="blog-column row">
                            <a class="go-to-post" href="/slope-garden">
                                <div class="blog-image-post">
                                    <i class="fa fa-arrows-alt"></i>
                                    <div class="background-blog-post slope-garden"></div>
                                </div>
                            </a>
                            <div class="blog-description">
                                <a href="/slope-garden"><h4 class="header-blog marg">Projekt ogrodu na zboczu</h4></a>
                                <div class="time-post">
                                    <i class="fa fa-clock-o p-color"></i>
                                    <p>20 Styczeń, 2017</p>
                                </div>
                                <p>Wiele osób ma problem z zagospodarowaniem stromych zboczy w swoim ogrodzie. Okazuje się jednak, że taki teren to prawdziwy skarb, który można przekształcić w niesamowity ogród. Ale jak dokładnie zagospodarować taką przestrzeń, aby nadać funkcjonalności naszemu ogrodowi a zarazem uzyskać zadawalający rezultat wizualny. Oto kilka rozwiązań na wykorzystanie...</p>
                                <a href="/slope-garden"><p class="read-more">CZYTAJ WIĘCEJ</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-column-about">
                        <div class="about-me">
                            <img src="/images/o-nas.png" />
                            <h6>TUIN</h6>
                            <p>Jesteśmy pasjonatami dobrego designu w zewnętrznych przestrzeniach, jak również miłośnikami roślin i natury.</p>
                        </div>
                        <div class="categories">
                            <aside id="categories" class="widget-categories">
                                <h4 class="widget-title">Categories</h4>
                                <ul>
                                    <li class="choose-item"><a href="/design">Design</a> (2)</li>
                                    <li class="choose-item"><a href="/handmade">Handmade</a> (1)</li>
                                    <li class="choose-item"><a href="/blog">Rośliny</a> (0)</li>
                                    <li class="choose-item"><a href="/blog">Drzewa</a> (0)</li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>