<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col marg-change">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/422249/Windsor-Companies-traditional-landscape-other' target='_blank'><img src='/images/garden-style/english-garden/english-garden.jpg' alt='English Garden'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród angielski</h2>
                        <p>Angielski krajobraz charakteryzuje się zachwycającymi widokami, rozległymi trawnikami, odległymi zagajnikami, naturalnymi stawami i jeziorami, mostami, dyskretnie umieszczonymi greckimi i rzymskimi "ruinami" oraz poczuciem spokoju. Nie jest to wiejski ogród, nieuporządkowany i niezorganizowany, ze swobodnie rozsianymi, rozrzuconymi roślinami jednorocznymi i wieloletnimi bylinami, nie jest to także typowy ogród francuski, który opiera się na ścisłych geometrycznych wzorach. W rzeczywistości, pierwsze ogrody angielskie zostały zaprojektowane na początku XVIII wieku. Angielski krajobraz wówczas przekształcił się z formalnych, symetrycznych ogrodów na luźny, nieregularny styl. Celem był naturalny krajobraz, aczkolwiek upiększany, bardziej romantyczny i przysłaniający przyziemne nieatrakcyjne części ogrodu. Ogrody w stylu angielski były budowane w dużej skali, na dużych powierzchniach, mimo to istnieje możliwość zaprojektowania takiego ogrodu w mniejszych miejskich ogrodach. Np. jeżeli nie posiadamy miejsca na duże jezioro możemy go zastąpić małym stawem. Zagajniki mogą być przekształcone w niewielką grupę drzew, a drewniany mostek może być wkomponowany w powierzchnię stawu. To wszystko obsadzone grupami pięknie pachnących kwiatów oraz z wkomponowanymi drobnymi "antycznymi" rzeźbami da nam namiastkę prawdziwego ogrodu angielskiego.</p>
                        <p class="paragraph-style-garden">Ogrody te mają wyglądać naturalnie i mieć miejsce do medytacji i relaksu. Styl angielski posiada swój charakter i zachęca odwiedzających do wędrowania po szutrowych ścieżkach. Ogrody angielskie były formowane przez lata i obejmują równowagę pomiędzy ogrodami tradycyjnymi formalnymi a swobodnymi odnoszącymi się do natury. Angielski styl projektowania krajobrazu gwarantuje wprowadzenie poczucia tajemnicy.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/1318184/Exterior-traditional-exterior-new-york' target='_blank'><img src='/images/garden-style/english-garden/english-garden-a-small.jpg' alt='English Garden'/></a><div class="caption-houzz">Zdjęcie Laurie S Woods, ASID</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/5292646/Restoration-House-Rochester-EnglandBrick-decorative-path' target='_blank'><img src='/images/garden-style/english-garden/english-garden-b-small.jpg' alt='English Garden'/></a><div class="caption-houzz">Zdjęcie Frank Organ</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/5292485/Restoration-House-Rochester-England-Pool-arch' target='_blank'><img src='/images/garden-style/english-garden/english-garden-c-small.jpg' alt='English Garden'/></a><div class="caption-houzz">Zdjęcie Frank Organ</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/37837444/Parterre-Courtyard-transitional-atlanta' target='_blank'><img src='/images/garden-style/english-garden/english-garden-d-small.jpg' alt='English Garden'/></a><div class="caption-houzz">Troy Rhone Garden Design</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/844607/The-Bloedel-Reserve-traditional-landscape-seattle' target='_blank'><img src='/images/garden-style/english-garden/english-garden-e-small.jpg' alt='English-Garden'/></a><div class="caption-houzz">Debra Prinzing</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>