<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col marg-change">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/5318131/Private-Residence-French-Formal-Estate-traditional-landscape-dallas' target='_blank'><img src='/images/garden-style/formal-garden/formal-garden.jpg' alt='Formal Garden'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród formalny</h2>
                        <p>Ogrody formalne charakteryzują się czystą geometrią, symetrią oraz ostrymi liniami. Styl ten sięga korzeniami do antyku i osiągnął szczyt w oficjalnych ogrodach francuskich, takich jak np. w Wersalu. Chodź niewielu z nas posiada taki majątek, to jednak z łatwością można go naśladować w naszych ogrodach. Styl formalny może być zarówno elegancki jak i ponadczasowy. Podstawowymi cechami ogrodu formalnego są: Prosta geometria - oficjalne ogrody podkreślane są poprzez proste linie, kąty, łuki oraz okręgi. Wyważone proporcje - jak dopasować rozmiar części ogrodu wobec całości, to klucz do klasycznej architektury i projektowania krajobrazu. Zasady matematyczne, takie jak Złoty podział odcinka i ciąg Fibonacciego, były używane od wieków jako sposób aby wnieść piękno i równowagę do projektowania. Projekt wzdłuż osi - większość ogrodów formalnych wykorzystuje dwustronną symetrię, kształty i formy o jednakowej wielkości umieszczone są naprzeciw siebie w punkcie lub wzdłuż osi. Daje to poczucie porządku i równowagi. W dużych ogrodach osie symetrii są dominujące, w mniejszych natomiast mogą być skutecznym sposobem na wykorzystanie ograniczonej przestrzeni. Osie są często zakończone centralnym punktem, którym może być rzeźba, wyróżniająca się roślina.</p>
                        <p class="paragraph-style-garden">Spójność - powtarzające się formy w całym ogrodzie nadają spójności projektowi. Styl ten charakteryzuje się strzyżonymi żywopłotami i formowaną roślinnością w przeróżne rzeźby. Najczęściej używa się tu bukszpanów, nadają się także ligustry. Pomiędzy formowane żywopłoty sadzi się róże, tulipany, piwonie, lawendę. Obecnie wprowadza się bardziej trwałe gatunki. Mimo wszystko ogród taki wymaga stałej opieki i pielęgnacji.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/545589/Orono-traditional-landscape-other' target='_blank'><img src='/images/garden-style/formal-garden/formal-garden-a-small.jpg' alt='Formal Garden'/></a><div class="caption-houzz">Zdjęcie Windsor Companies</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/16551177/Bay-scandinavian-landscape-melbourne' target='_blank'><img src='/images/garden-style/formal-garden/formal-garden-b-small.jpg' alt='Formal Garden'/></a><div class="caption-houzz">Zdjęcie Urban Angles</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/19115183/Hampstead-Garden-Design-contemporary-landscape-london' target='_blank'><img src='/images/garden-style/formal-garden/formal-garden-c-small.jpg' alt='Formal Garden'/></a><div class="caption-houzz">Zdjęcie The Garden Builders</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/404710/Boxwood-Parterres-landscape-other' target='_blank'><img src='/images/garden-style/formal-garden/formal-garden-d-small.jpg' alt='Formal Garden'/></a><div class="caption-houzz">Troy Rhone Garden Design</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>