<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/555599/Greenbrier-Exterior-traditional-landscape-dallas' target='_blank'><img src='/images/garden-style/french-garden/french-garden.jpg' alt='French Garden'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród francuski</h2>
                        <p>Symetria i geometria definiują ten dekoracyjny styl ogrodu, odpowiedni zarówno dla dużych przestrzeni jak i intymnych miejsc. Dla większości osób, styl francuski jest znany z formalności i na tym polega też jego urok. Ogrody są przeznaczone do oglądania z odległości, dlatego forma i projekt odgrywają tu główną rolę. Podkreślają one centralną część przestrzeni jaką tworzy dom lub inna zabudowa. Ogrody te są znane ze swojej chłodnej palety kolorów, z naciskiem na biały, zielenie, błękity i fiolety. Bukszpany, misternie formowane żywopłoty i krzewy, gustownie obsadzone rabaty i kwietniki, pola lawendy to roślinność tworząca ogród francuski. Z materiałów często używa się tu kamienia, który można spotkać w żwirowych nawierzchniach, ogrodzeniach, na tarasach w elementach dekoracyjnych oraz w miejscach gdzie można podziwiać widoki. Wersja wiejska ogrodu francuskiego jest bardziej nieformalna z mieszanką miękkich nasadzeń oraz odważniejszych kolorów, aczkolwiek przy zachowaniu tych samych zasad w projektowaniu. Sadzenie roślin jest tu luźniejsze i mniej zorganizowane lecz wciąż posiada wyraźną granicę w postaci np. niskiego żywopłotu. Mimo lekkiej swobody ogród jest uporządkowany. Stosuje się tu także kamień, przy czym bardzo często żwirowe nawierzchnie. W ogrodach tych popularne stały się bardzo praktyczne ogrody warzywne i rabaty na podwyższeniu. Formalna konstrukcja wymaga bardzo dużej pielęgnacji, większej niż np. naturalny ogród. Jeżeli nie chcesz spędzać dużo czasu przy utrzymaniu ogrodu w odpowiednim kształcie, styl formalny francuski nie jest dla Ciebie.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/555598/Greenbrier-Exterior-traditional-exterior-dallas' target='_blank'><img src='/images/garden-style/french-garden/french-garden-a-small.jpg' alt='French Garden'/></a><div class="caption-houzz">Zdjęcie Isler Homes</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/88842/Cloister-herb-garden-traditional-landscape-boston' target='_blank'><img src='/images/garden-style/french-garden/french-garden-b-small.jpg' alt='French Garden'/></a><div class="caption-houzz">Zdjęcie Natalie DeNormandie</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/200849/debora-carl-landscape-design-mediterranean-landscape-san-diego' target='_blank'><img src='/images/garden-style/french-garden/french-garden-c-small.jpg' alt='French Garden'/></a><div class="caption-houzz">Zdjęcie debora carl landscape design</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/695049/Old-Metairie-Country-French-traditional-landscape-new-orleans' target='_blank'><img src='/images/garden-style/french-garden/french-garden-d-small.jpg' alt='French Garden'/></a><div class="caption-houzz">Zdjęcie Daly-Sublette Landscape Architects</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>