<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-container">
            <div class="container">
                <div class="garden-style-column">
                    <a href="/japanese-garden">
                        <h3>Ogrody japońskie</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodJap.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                    <a href="/modern-garden">
                        <h3>Ogrody nowoczesne</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodNow.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                    <a href="/cottage-garden">
                        <h3>Ogrody wiejskie</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodWie.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                </div>
                <div class="garden-style-column">
                    <a href="/mediterranean-garden">
                        <h3>Ogrody<br>śródziemnomorskie</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodSrod.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                    <a href="/english-garden">
                        <h3>Ogrody angielskie</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodAng.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                    <a href="/formal-garden">
                        <h3>Ogrody formalne</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodForm.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                </div>
                <div class="garden-style-column">
                    <a href="/naturalistic-garden">
                        <h3>Ogrody naturalistyczne</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodNatur.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                    <a href="/french-garden">
                        <h3>Ogrody francuskie</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodFranc.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                    <a href="/minimalistic-garden">
                        <h3>Ogrody minimalistyczne</h3>
                        <div class="garden-style-img">
                            <img src="/images/garden-style/ogrodMinimal.jpg">
                            <div class="circle-garden-style"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>