<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="content">
            <div class="slider slide-image">
                <div class="image-dark"></div>
                <div class="image-light"><div class="white-fill"></div></div>
            </div>
            <div class="content-wrapper">
                <div class="content-page">
                    <div class="content-caption">
                        <img src="/images/frame.png" alt="Ramka" class="frame" />
                        <div class="caption">
                            <div class="caption-quality">Najlepsza jakość</div>
                            <div class="caption-main">
                                <div class="caption-splitted">
                                    <div class="letter">P</div>
                                    <div class="letter">r</div>
                                    <div class="letter">o</div>
                                    <div class="letter">j</div>
                                    <div class="letter">e</div>
                                    <div class="letter">k</div>
                                    <div class="letter">t</div>
                                    <div class="letter">o</div>
                                    <div class="letter">w</div>
                                    <div class="letter">a</div>
                                    <div class="letter">n</div>
                                    <div class="letter">i</div>
                                    <div class="letter">e</div>
                                    <div class="letter">&nbsp;</div>
                                    <div class="letter">O</div>
                                    <div class="letter">g</div>
                                    <div class="letter">r</div>
                                    <div class="letter">o</div>
                                    <div class="letter">d</div>
                                    <div class="letter">ó</div>
                                    <div class="letter">w</div>
                                </div>
                            </div>
                            <div class="caption-aside">Nadaj swojemu ogrodowi niepowtarzalnego wyglądu</div>
                        </div>
                    </div>
                </div>
                <a href="/services" class="button-link">
                    <div class="button-wrap">
                        <div class="button-green-back">Dowiedz się więcej</div>
                        <div class="button-green">Dowiedz się więcej</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="about-us-container" id="about">
            <div class="container">
                <div class="about-us">
                    <h1><strong class="about">O</strong> Nas</h1>
                </div>
                <div class="content-about">
                    <div class="column-about">
                        <img src="/images/image-about1.jpg" alt="O mnie"/>
                    </div>
                    <div class="column-about about-background">
                        <h3>Kim jesteśmy?</h3>
                        <p>Firma Tuin zajmuje się kreatywnym i innowacyjnym projektowaniem ogrodów i terenów zielonych dostosowanych do Twoich potrzeb i budżetu. Działamy na terenie całej Polski. Tworzymy piękne i wspaniałe ogrody, począwszy od współczesnych po tradycyjne architektonicznie. Nasadzenia zaprojektowane są w sposób oryginalny, mający na celu stymulowanie Twoich zmysłów przez cały rok.</p>
                        <p>Jeżeli szukasz inspiracji, doświadczenia w projektowaniu, chcesz wydobyć cały potencjał ze swojego ogrodu - dużego czy małego – chętnie pomożemy, aby stworzyć projekt ogrodu, który jest idealny dla Ciebie- taki, który będzie dodawał wartości dla Twojego domu i przyniesie wiele lat przyjemności.</p>
                        <p>Z dobrym okiem do detalów i silnym naciskiem na jakość i rzemiosło, współpracujemy z zaufanymi firmami zajmującymi się wykonaniem ogrodów, zakładaniem automatycznego nawadniania, oświetlenia, tworzeniem nawierzchni ogrodowych, które będą budować Twój ogród w najwyższym standardzie.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="choose-us">
            <div class="container">
                <h1><strong>Nasze</strong> Zalety</h1>
                <div class="column-choose">
                    <div class="column-head-choose">
                        <div class="icon-choose">
                            <div class="icon-block-choose">
                                <img src="/images/designer%20(1).svg" alt="Ikona doświadczenie" class="icon-svg-choose" />
                            </div>
                            <h2>Ponad 10 lat doświadczenia</h2>
                        </div>
                        <p>Dzięki doświadczeniu jesteśmy wstanie zapewnić Państwu wysoką i profesjonalną jakość usług.</p>
                    </div>
                    <div class="column-head-choose">
                        <div class="icon-choose">
                            <div class="icon-block-choose">
                                <img src="/images/medal.svg" alt="Ikona jakość" class="icon-svg-choose" />
                            </div>
                            <h2>Najlepsza jakość</h2>
                        </div>
                        <p>Do każdego projektu podchodzimy indywidualnie, przykładając staranną uwagę do detali. Nie wykonujemy projeków masowo i na szybko.</p>
                    </div>
                    <div class="column-head-choose">
                        <div class="icon-choose">
                            <div class="icon-block-choose">
                                <img src="/images/designer.svg" alt="Ikona estetyka" class="icon-svg-choose" />
                            </div>
                            <h2>Wyczucie estetyczne</h2>
                        </div>
                        <p>Nasi wykształceni architekci krajobrazu cenią design i projektują ogrody, uwzględniając zasady estetyki, proporcji, harmonii i umiaru.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="go-to-survey">
            <div class="container">
                <h1 class="header-change-color">Zainteresowany naszą ofertą?</h1>
                <p>Wypełnij ankietę lub skontaktuj się z nami aby wycenić swój ogród. Wycena ogrodu odbywa się wyłącznie drogą mailową po przesłaniu odpowiednich informacji lub materiałów.</p>
                <a href="/survey-contact#go-to-survey"><button class="button-white">Wypełnij ankietę</button></a>
            </div>
        </div>
        <div class="design-process">
            <div class="container">
                <div class="title-design-process">
                    <h1><strong class="about">Jak</strong> Pracujemy?</h1>
                    <p>Dowiedz się więcej na temat procesu projektowania ogrodu i zamów naszą usługę.</p>
                </div>
                <div class="stage-design">
                    <div class="stage align-left">
                        <h3>1 Konsultacje</h3>
                        <p>Spotkanie konsultacyjne jest czasem przeznaczonym na omówienie ciekawych pomysłów, który będzie stanowić podstawę do projektowania i określenia budżetu. Na tym etapie podpisywana jest umowa oraz pobierana zaliczka.</p>
                    </div>
                    <div class="stage">
                        <h3>3 Koncepcja projektowa</h3>
                        <p>Kolejnym etapem jest przedstawienie dla Państwa koncepcji projektowej, wykonanej według wcześniejszych ustaleń. Plan przedstawia układ dróg, rozmieszczenie roślinności, elementy małej architektury itp.</p>
                    </div>
                    <div class="stage align-right">
                        <h3>5 Płatność</h3>
                        <p>Na koniec po dokonaniu płatności, następuje oddanie gotowego projektu, wydrukowanego lub przesłanego elektronicznie.</p>
                    </div>
                </div>
                <div class="stage-design-icon-container">
                    <div class="line"></div>
                    <div class="stage-design-icon">
                        <div class="icon">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        </div>
                        <div class="icon">
                            <i class="fa fa-tree" aria-hidden="true"></i>
                        </div>
                        <div class="icon">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </div>
                        <div class="icon">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="stage-design justify-stage">
                    <div class="stage">
                        <h3>2 Inwentaryzacja i analiza</h3>
                        <p>Inwentaryzacja i analiza terenu są konieczne do utworzenia projektu ogrodu w odpowiedniej skali oraz do zaznaczenia wszelkich istotnych informacji niezbędnych w procesie projektowania.</p>
                    </div>
                    <div class="stage">
                        <h3>4 Projekt techniczny</h3>
                        <p>W etapie tym tworzone są rysunki wykonawcze w odpowiedniej skali. Dobierana jest roślinność, z podaniem ich rozstawy oraz ilości nasadzonych sztuk. Projekt jest zwymiarowany tak by można było odwzorować go w rzeczywistości.</p>
                    </div>
                </div>
                <div class="stage-design-min">
                    <div class="stage align-left">
                        <h3>1 Konsultacje</h3>
                        <p>Spotkanie konsultacyjne jest czasem przeznaczonym na omówienie ciekawych pomysłów, który będzie stanowić podstawę do projektowania i określenia budżetu. Na tym etapie podpisywana jest umowa oraz pobierana zaliczka.</p>
                    </div>
                    <div class="stage">
                        <h3>2 Inwentaryzacja i analiza</h3>
                        <p>Inwentaryzacja i analiza terenu są konieczne do utworzenia projektu ogrodu w odpowiedniej skali oraz do zaznaczenia wszelkich istotnych informacji niezbędnych w procesie projektowania.</p>
                    </div>
                    <div class="stage">
                        <h3>3 Koncepcja projektowa</h3>
                        <p>Kolejnym etapem jest przedstawienie dla Państwa koncepcji projektowej, wykonanej według wcześniejszych ustaleń. Plan przedstawia układ dróg, rozmieszczenie roślinności, elementy małej architektury itp.</p>
                    </div>
                    <div class="stage">
                        <h3>4 Projekt techniczny</h3>
                        <p>W etapie tym tworzone są rysunki wykonawcze w odpowiedniej skali. Dobierana jest roślinność, z podaniem ich rozstawy oraz ilości nasadzonych sztuk. Projekt jest zwymiarowany tak by można było odwzorować go w rzeczywistości.</p>
                    </div>
                    <div class="stage align-right">
                        <h3>5 Płatność</h3>
                        <p>Na koniec po dokonaniu płatności, następuje oddanie gotowego projektu, wydrukowanego lub przesłanego elektronicznie.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="garden-style">
            <div class="container">
                <h1 class="header-change-color">Wybierz swój styl ogrodu</h1>
                <p>Aby ułatwić Ci decyzję, w jakim stylu chciałbyś mieć zaprojektowany ogród, przedstawiliśmy Ci podstawowe style ogrodowe.</p>
                <a href="/garden-style"><button class="button-white">Wybierz styl</button></a>
            </div>
        </div>
        <div class="recent-blog">
            <div class="container">
                <h1><strong>Najnowsze</strong> Wpisy</h1>
                <div class="blog-column">
                    <div class="blog-post">
                        <a class="go-to-post" href="/play-with-light">
                            <div class="blog-image">
                                <div class="background-blog light"></div>
                                <div class="button-read-more">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <h6>Czytaj więcej</h6>
                                </div>
                            </div>
                            <h4 class="header-blog">Zabawa z naturalnym światłem</h4>
                            <div class="time-post">
                                <i class="fa fa-clock-o p-color"></i>
                                <p>15 Styczeń, 2017</p>
                            </div>
                        </a>
                        <p>Światło jest jednym z najważniejszych elementów w procesie projektowania ogrodów. Rozmyślając o nim przychodzi nam do głowy oświetlenie ogrodowe a zapominamy często o świetle dziennym...</p>
                    </div>
                    <div class="blog-post">
                        <a class="go-to-post" href="/slope-garden">
                            <div class="blog-image">
                                <div class="background-blog slope"></div>
                                <div class="button-read-more">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <h6>Czytaj więcej</h6>
                                </div>
                            </div>
                            <h4 class="header-blog">Projekt ogrodu na zboczu</h4>
                            <div class="time-post">
                                <i class="fa fa-clock-o p-color"></i>
                                <p>20 Styczeń, 2017</p>
                            </div>
                        </a>
                        <p>Wiele osób ma problem z zagospodarowaniem stromych zboczy w swoim ogrodzie. Okazuje się jednak, że taki teren to prawdziwy skarb, który można przekształcić w niesamowity...</p>
                    </div>
                    <div class="blog-post">
                        <a class="go-to-post" href="/recycling-garden">
                            <div class="blog-image">
                                    <div class="background-blog wood"></div>
                                    <div class="button-read-more">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <h6>Czytaj więcej</h6>
                                    </div>
                            </div>
                            <h4 class="header-blog">Drewno z recyklingu w ogrodzie</h4>
                            <div class="time-post">
                                <i class="fa fa-clock-o"></i>
                                <p>25 Styczeń, 2017</p>
                            </div>
                        </a>
                        <p>Nikt nie oprze się urokowi wiekowego drewna. Może ono wprowadzić ciepło, nieprzeciętną strukturę i charakter do Twojego ogrodu. Używając drewna z recyklingu...</p>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>