<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/38317759/Bonsai-Pavilion-asian-landscape-other' target='_blank'><img src='/images/garden-style/japanese-garden/asian-landscape-small.jpg' alt='' border=0 width='500' height='386'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród japoński</h2>
                        <p>Tradycyjne japońskie ogrody są przeznaczone do spokojnej kontemplacji. Czerpią z buddyjskich i taoistycznych filozofii i starają się zapewnić duchową przystań dla zwiedzających. Podstawowym celem w orientalnym ogrodzie jest natura. Elementy japońskiego ogrodu naśladują lub symbolizują elementy naturalne. Tak więc, geometryczne kształty i sztuczny kamień nie są powszechne w Azji w projektowaniu krajobrazu. Im bardziej naturalny i harmonijny jest ogród, tym bardziej sprzyja on kontemplacji. Istnieją cztery podstawowe elementy stosowane w stylu japońskim: skały, woda, rośliny i ornamenty. Przy wyborze i aranżacji tych elementów w przestrzeni, ważne jest, aby pamiętać o głównych zasadach projektowania ogrodów japoński, które obejmują: asymetrię, pożyczone krajobrazy, równowagę i symbolikę. Zasady te należy łączyć ze sobą w celu stworzenia odpowiedniej równowagi w ogrodzie japońskim.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/304252/Japanese-Garden-asian-landscape-grand-rapids' target='_blank'><img src='https://st.hzcdn.com/simgs/27a1bd690e810814_3-4426/asian-landscape.jpg' alt='Japanese Garden'/></a><div class="caption-houzz">Zdjęcie Cathy Warner</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/21456791/Makai-Residence-asian-landscape-san-francisco' target='_blank'><img src='https://st.hzcdn.com/simgs/c1d10b650499cf9f_3-0937/asian-landscape.jpg' alt='Japanese Garden'/></a><div class="caption-houzz">Zdjęcie GFDS Engineers</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/1438215/Frame-For-A-Garden-asian-landscape-minneapolis' target='_blank'><img src='/images/garden-style/japanese-garden/asian-landscape-b-small.jpg' alt='Japanese Garden'/></a><div class="caption-houzz">Zdjęcie Photo by Garden Structures</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/36010283/2015-Garden-Dialogues-Denver-Englewood-Pondbank-House-August-8-asian-landscape-denver' target='_blank'><img src='/images/garden-style/japanese-garden/asian-landscape-a-small.jpg' alt='Japanese Garden' /></a><div class="caption-houzz">Zdjęcie Cultural Landscape Foundation</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>