<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/12254502/Romantic-Charm-mediterranean-landscape-other' target='_blank'><img src='/images/garden-style/mediterranean-garden/mediterranean-garden.jpg' alt="Medeterranean Garden"/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród śródziemnomorski</h2>
                        <p>Ogrody śródziemnomorskie są najlepiej znane ze swojej swobodnej elegancji. Mogą być formalne lub nieformalne i czerpią inspiracje z krzewiastej roślinności z gorącego, suchego klimatu południowej Francji, Włoszech i Hiszpanii. Gliniane doniczki, warstwowe fontanny, kolumny, posągi rzymskie, bule są charakterystyczne dla ogrodów śródziemnomorskich. Z materiałów stosuje się tu często żwir pomiędzy rośliny odporne na suszę. Rośliny w ogrodach dobierane są pod względem koloru i struktury - są to min. lawenda, cyprysy, trawy ozdobne, drzewa oliwne, rozmaryn i winorośl. W klimacie tym bardzo popularne są ogrody ziołowe. Rosnące tam zioła wykorzystywane są zarówno w celach kulinarnych i leczniczych. Jest to styl, który można również dostosować do polskiego klimatu, ale niektóre rośliny śródziemnomorskie nie lubią zimy oraz wilgoci i potrzebują ochrony w naszym chłodniejszym klimacie. Ogród inspirowany śródziemnomorskim klimatem przeniesie Cię do innego świata, za każdym razem jak przekroczysz próg swoich drzwi. Zapach pachnących ziół, dźwięk spływającej wody i ciepłe kolory ceramiki sprawią iż będziesz chciał przebywać w tym miejscu jak najdłużej. Jedyne czego Ci zabraknie to widok na lśniący błękitny ocean.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/8317789/Provencal-private-garden-mediterranean-landscape-other' target='_blank'><img src='/images/garden-style/mediterranean-garden/mediterranean-garden-a-small.jpg' alt='Mediterranean Garden'/></a><div class="caption-houzz">Zdjęcie Thomas Gentilini</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/2269500/Waterwise-Mediterranean-mediterranean-landscape-los-angeles' target='_blank'><img src='/images/garden-style/mediterranean-garden/mediterranean-garden-b-small.jpg' alt='Mediterranean Garden'/></a><div class="caption-houzz">Zdjęcie Urban Oasis</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/714814/Mediterranean-Classic-mediterranean-patio-los-angeles' target='_blank'><img src='/images/garden-style/mediterranean-garden/mediterranean-garden-c-small.jpg' alt='Mediterranean Garden'/></a><div class="caption-houzz">Tommy Chambers Interiors, Inc.</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/6433910/Lavender-and-Terra-Cotta-mediterranean-landscape-san-francisco' target='_blank'><img src='/images/garden-style/mediterranean-garden/mediterranean-garden-d-small.jpg' alt='Mediterranean Garden'/></a><div class="caption-houzz">Zeterre Landscape Architecture</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>