<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col marg-change">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/5230663/Winter-Residence-Remodel-modern-landscape-phoenix' target='_blank'><img src='/images/garden-style/minimalistic-garden/minimalistic-garden.jpg' alt='Minimalistic Garden'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród minimalistyczny</h2>
                        <p>Ogrody minimalistyczne mogą wydać się zwykłe i nudne dla niektórych. Inni twierdzą, że są stylowe i proste. Styl ten pasuje do osób, które szukają czystej, inteligentnej i mało wymagającej przestrzeni. Restrykcyjną paletę z ograniczonymi materiałami i roślinami łączy się tu ze śmiałym nowoczesnym projektowaniem i prostymi liniami. Projektowanie ogrodu minimalistycznego polega na wprowadzaniu ograniczeń, szczególnie w zakresie kolorów. Neutralna kolorystyka wydaje się być najbardziej popularna, ponieważ jest zrównoważona i uspokaja. Kolory preferowane przez projektantów to neutralne szarości i czernie, ale niektórzy wolą bardziej dominujące kolory, takie jak jaskrawa zieleń, przeciwstawiona neutralnemu zabarwieniu materiałów. Do stworzenia płaskiej powierzchni w prostych minimalistycznych ogrodach bardzo dobrym materiałem może być trawa. Tworzy ona neutralną bazę oraz łatwo łączy się z innymi powierzchniach, takimi jak kamień i drewno. Z detali często stosuje się tu donice. W wyborze pojemników używamy spójnej kolorystyki. Powinny być one nowoczesne, z czystym, stylowym wykończeniem. Wprowadzenie roślin do ogrodu może nam nieco złagodzić twarde konstrukcje popularne w ogrodach minimalistycznych. Nasadzenia najlepiej dobierać z około trzech gatunków roślin. Ta ograniczona paleta nie tylko będzie wyglądać dobrze, ale utrzymanie ogrodu będzie w tym wypadku znacznie łatwiejsze.</p>
                        <p class="paragraph-style-garden">Popularną rośliną jest tu bukszpan, jego wiecznie zielone liście przez cały rok zapewniają monochromatyczną barwę a co najważniejsze istnieje możliwość formowania go w mocne wyraźne kształty. Minimalistyczny ogród musi mieć twarde, proste linie i być pięknie szczegółowo wykonany. Nie jest łatwo uzyskać tą formę ogrodu; nie ma tu miejsca na błędy lub złą jakość wykonania. Ale to dobrze, gdyż zbudujesz ogród, który nie wymaga zbytniej opieki a zarazem jest doskonałym antidotum na stres współczesnego życia z miejscem dla całej rodziny.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/653763/Wagner-Residence-farmhouse-landscape-burlington' target='_blank'><img src='/images/garden-style/minimalistic-garden/minimalistic-garden-a-small.jpg' alt='Minimalistic Garden'/></a><div class="caption-houzz">Zdjęcie Wagner Hodgson</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/932531/Contemporary-Living-contemporary-landscape-san-francisco' target='_blank'><img src='/images/garden-style/minimalistic-garden/minimalistic-garden-b-small.jpg' alt='Minimalistic Garden'/></a><div class="caption-houzz">Shades Of Green Landscape Architecture</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/893190/Contemporary-Courtyard-contemporary-patio-sydney' target='_blank'><img src='/images/garden-style/minimalistic-garden/minimalistic-garden-c-small.jpg' alt='Minimalistic Garden'/></a>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/101766/Tarrytown-Phase-II-modern-exterior-austin' target='_blank'><img src='/images/garden-style/minimalistic-garden/minimalistic-garden-d-small.jpg' alt='Minimalistic Garden'/></a><div class="caption-houzz">Zdjęcie Webber + Studio, Architects</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>