<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col marg-change">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/38317759/Bonsai-Pavilion-asian-landscape-other' target='_blank'><img src='/images/garden-style/modern-garden/modern-garden-small.jpg' alt='Modern Garden'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród nowoczesny</h2>
                        <p>Nowoczesny krajobraz słynie z eleganckiego i wyszukanego stylu. Ogród jest tu dokładnie zaplanowany i zorganizowany. Uwagę bardziej skupia się na konstrukcjach i strukturach niż na roślinach. Rośliny w nowoczesnej przestrzeni są zwykle zielone i dobierane pod względem kształtu i tekstury. Kolor wprowadza się tu poprzez dodatki takie jak poduszki, meble, donice lub przez malowanie. Popularne materiały stosowane w nowoczesnym krajobrazie to: beton , metal i drewno. Wielu projektantów pozostawia powierzchnie betonowe w ich naturalnym szarym odcieniu, jednak mogą być one barwione na różne kolory. Metal, zwłaszcza stal jest powszechnie używanym akcent w nowoczesnych ogrodach. Może być stosowany jako podpora dla roślin w formie trejażu, pergoli, jako donica a nawet niewielki murek oporowy. W nowoczesnej przestrzeni bardzo często wprowadza się także drewniane elementy. Przeważnie wybiera się drewno egzotyczne, które cechuje się większą twardością i wytrzymałością na warunki atmosferyczne niż drewno rodzime.</p>
                        <p class="paragraph-style-garden">Jednym z głównych celów nowoczesnej konstrukcji jest stworzenie kontrastu. Na przykład trawy ozdobne na tle szarego betonowego muru, pomarańczowe poduszki umieszczone na prostych ogrodowych meblach, bądź kamienne ognisko wypełnione kolorowym szkłem niewątpliwie przyciągną uwagę osób odwiedzających ogród. Ważne jest, aby selektywnie dobierać kontrasty, zbyt duża ich ilość może stać się przytłaczająca i uczynić przestrzeń chaotyczną. Wybierz dwa lub trzy punkty w swoim otoczeniu i skup się na jednym kontrastującym elemencie dla każdego z nich. W nowoczesnym krajobrazie stosuje się przeważnie utwardzone nawierzchnie przeplatane żwirkiem lub roślinnością. Mogą to być przeróżne wzory kostki brukowej, płyt betonowych bądź też sam beton. Jednak nie jest to jedyny sposób, aby osiągnąć nowoczesny wygląd. Za pomocą roślin, które są architektoniczne i mają ciekawe faktury możemy również osiągnąć pożądany efekt.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/16330749/Residential-garden-contemporary-patio-london' target='_blank'><img src='/images/garden-style/modern-garden/modern-garden-a-small.jpg' alt='Modern Garden'/></a><div class="caption-houzz">Zdjęcie Emma Griffin Garden Design</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/55197984/Contemporary-Color-contemporary' target='_blank'><img src='/images/garden-style/modern-garden/modern-garden-b-small.jpg' alt='Modern Garden'/></a><div class="caption-houzz">Zdjęcie Scot Eckley, Inc.</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/2539934/Rhee-Residence-contemporary-patio-san-diego' target='_blank'><img src='/images/garden-style/modern-garden/modern-garden-c-small.jpg' alt='Modern Garden'/></a><div class="caption-houzz">Zdjęcie Falling Waters Landscape</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/19799903/Long-town-garden-Strawberry-Hill-contemporary-patio-london' target='_blank'><img src='/images/garden-style/modern-garden/modern-garden-d-small.jpg'/></a><div class="caption-houzz">Zdjęcie Echinops Garden Design</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>