<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header style-img">
                <div class="caption-header-background">
                    <h1>Style ogrodowe</h1>
                </div>
            </div>            
        </div>
        <div class="garden-style-wrapper">
            <div class="container">
                <div class="garden-style-col">
                    <div class="garden-style-row">
                        <div class="slider-garden-style">
                            <div><a href='http://www.houzz.com/photos/698255/Gardens-by-Gabriel-Landscapes-mediterranean-landscape-other' target='_blank'><img src='/images/garden-style/naturalistic-garden/naturalistic-garden.jpg' alt='Naturalistic Garden'/></a></div>
                        </div>
                    </div>
                    <div class="garden-style-description">
                        <h2 class="heading-style">Ogród naturalistyczny</h2>
                        <p>Ogród naturalistyczny odzwierciedla naturalny krajobraz, który go otacza. Naturalne ogrody nie są formalne, zamiast tego stosuje się przeróżne formy nasadzeń i miękkie krawędzie bez wyraźnie zarysowanej granicy. Rabaty projektowane są plamami, pojawiają się niespodziewanie, są doskonałą przystanią dla ptaków i zwierząt. Nie występuje tu bałagan jakby można było się spodziewać. Mimo swej naturalności w ogrodzie panuje porządek, wszelkie ścieżki i rabaty zaprojektowane są rozmyślnie i mają tylko imitować naturalny krajobraz. Naturalne krajobrazy mogą być łatwe do utrzymania, nie musisz martwić się o rośliny, pozwól im aby rosły jak chcą. Krajobraz taki może łatwo wymknąć się nam spod kontroli. Jeśli chcesz aby tylko odzwierciedlał otoczenie a nie został całkowicie przejęty przez przyrodę musisz pielęgnować ogród poprzez przycinanie i odchwaszczanie. Będzie to jednak zdecydowanie mniej pracy niż w przypadku ogrodów formalnych. Z materiałów stosuje się tu najczęściej żwir, jest mniej formalny od brukowej czy kamiennej kostki. Stosuje się także nawierzchnie ziemne utwardzone, lub też naturalny kamień wypełniony pomiędzy wolnymi przestrzeniami niską roślinnością. Z roślin popularne są wszelkie gatunki rodzime dostosowane do wymagań klimatycznych. Ogród jest kolorowy. W pewnych miejscach przestrzeń wypełnia łąka kwietna utworzona z gotowych mieszanek.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <h2 class="heading-style">Inspiracje</h2>
                <div class="simples-items-styles marg">
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/24834/Jane-C-Gates-landscape-los-angeles' target='_blank'><img src='/images/garden-style/naturalistic-garden/naturalistic-garden-a-small.jpg' alt='Naturalistic Garden'/></a><div class="caption-houzz">Gates Croft Horticultural Design</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/51233257/Theodore-Payne-Native-Plant-Garden-Tour-landscape' target='_blank'><img src='/images/garden-style/naturalistic-garden/naturalistic-garden-b-small.jpg' alt='Naturalistic Garden'/></a>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/1449795/Roberts-Creek-House-transitional-exterior-vancouver' target='_blank'><img src='/images/garden-style/naturalistic-garden/naturalistic-garden-c-small.jpg' alt='Naturalistic Garden'/></a><div class="caption-houzz">Zdjęcie Ryan Nelson Photography</div>
                    </div>
                    <div class="item-houzz"><a href='http://www.houzz.com/photos/624692/Belmont-Hill-Residence-traditional-exterior-boston' target='_blank'><img src='/images/garden-style/naturalistic-garden/naturalistic-garden-d-small.jpg' alt='Naturalistic Garden'/></a><div class="caption-houzz">Zdjęcie Photo by Matthew Cunningham</div>
                    </div>
                </div>
                <div class="arrow-back">
                    <a href="/garden-style"><p>	&lt;&lt; COFNIJ</p></a>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>