<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header blog-img">
                <div class="caption-header-background">
                    <h1>Blog</h1>
                    <h3 class="blog-header">Projektowanie ogrodów</h3>
                </div>
            </div>            
        </div>
        <div class="blog-wrapper-posts">
            <div class="container">
                <div class="blog-column">
                    <div class="blog-column-posts">
                        <div class="blog-image-posts">
                            <img src="/images/blog1-post.jpg" />
                        </div>
                        <div class="blog-description">
                            <h4 class="header-blog post">Zabawa z naturalnym światłem</h4>
                            <div class="time-post">
                                <i class="fa fa-clock-o p-color"></i>
                                <p>15 Styczeń, 2017</p>
                            </div>
                            <p class="paragraph-post">Światło jest jednym z najważniejszych elementów w procesie projektowania ogrodów. Rozmyślając o nim przychodzi nam do głowy oświetlenie ogrodowe a zapominamy często o świetle dziennym. Przykłady opisane poniżej pozwolą Ci zrozumieć jak istotne jest światło dzienne w kształtowaniu krajobrazu. Dzięki niemu stworzysz niepowtarzalną i oryginalną przestrzeń w swoim ogrodzie.<br/>Oto kilka przykładów elementów, z którymi możesz pracować, aby uzyskać różne efekty świetlne:</p>
                            <p class="paragraph-post bigger">ROŚLINY O CIEKAWYM POKROJU</p>
                            <p class="paragraph-post">Wybierz roślinę z ciekawym pokrojem taką jak np. sumak octowiec <i>Rhus typhina</i>, posadź ją blisko ściany, ogrodzenia lub domu (nie za blisko), tak, aby jego cień pokrywał pustą przestrzeń. Na Twojej ścianie utworzy się niepowtarzalny i zależny od wysokości słońca wzór, a podczas wiatru dodatkowo będzie animowany.</p>
                            <p class="paragraph-post">Inne drzewa o ciekawym pokroju, które rosną w naszym klimacie: brzoza brodawkowata ‘Youngii’ <i>Betula pendula</i>, buk pospolity ‘Black Swan’ <i>Fagus sylvatica</i>, wiąz ’Camperdownii’ <i>Ulmus</i>.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/64795/WYboy-Ranch-contemporary-patio-other' target='_blank'><img src='https://st.hzcdn.com/simgs/a32197290c646e6f_8-3211/contemporary-patio.jpg' alt=''/></a><div><small>Photo by Sutton Suzuki Architects</small></div></div>
                            <p class="paragraph-post bigger">WODA</p>
                            <p class="paragraph-post">Płaska powierzchnia wody tworzy lustrzane odbicia otaczającej jej przestrzeni, drzew i roślin. Dzięki temu przestrzeń wydaje się być większa niż jest w rzeczywistości, nawet, jeżeli płaszczyzna wody nie jest duża. Podczas budowy stawu, basenu lub oczka wodnego, weź pod uwagę rośliny, które je otaczają i które będą odbijały się w źródle wody. Nie musisz posiadać dużej przestrzeni, wystarczy małe oczko wodne lub nawet drobna ozdoba wodna. Te cudowne refleksy wzbogacą Twój ogród o niepowtarzalne widoki.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/4061993/Modern-Pool-modern-pool-melbourne' target='_blank'><img src='https://st.hzcdn.com/simgs/a7114eed019ee0f8_8-9560/modern-pool.jpg' alt=''/></a><div><small>Photo by -</small></div></div>
                            <p class="paragraph-post bigger">DREWNIANE OGRODZENIA</p>
                            <p class="paragraph-post">Pozostawiając przestrzeń pomiędzy deskami na ogrodzeniu pozwolisz światłu przedostać się prze nie. Będzie to lepsze dla roślin rosnących w pobliżu oraz nada dodatkowy efekt w postaci cienia. Wybieraj różne szerokości desek, aby utworzyć ciekawsze wzory zarówno w ogrodzeniu jak i w rezultacie w cieniu.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/348067/Curved-House-contemporary-exterior-other' target='_blank'><img src='https://st.hzcdn.com/simgs/23e1d4ee0eb3fcd8_8-4103/contemporary-exterior.jpg' alt=''/></a><div><small>Photo by Hufft Projects</small></div></div>
                            <p class="paragraph-post bigger">PÓŁPRZEZROCZYSTE PANELE</p>
                            <p class="paragraph-post">Używając półprzezroczystych paneli czy to szklanych, czy plastikowych, pozwolimy światłu na przejście, zachowując przy tym prywatność przestrzeni. Takie panele wyglądają bardzo dobrze w przestrzeniach ogrodowych, a przechodzące przez nie światło rozmywa przestrzeń za nimi, tworząc różne efekty kolorystyczne. Aby uzyskać barwniejsze efekty wybierz szkło kolorowe lub jego tańszą alternatywę płyty poliwęglanowe lub pleksi.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/38655/Shell-Beach-Residence-contemporary-landscape-san-luis-obispo' target='_blank'><img src='https://st.hzcdn.com/simgs/db514dd60b451d37_8-2348/contemporary-landscape.jpg' alt=''/></a><div><small>Photo by Jeffrey Gordon Smith Landscape Architecture</small></div></div>
                            <p class="paragraph-post bigger">PERGOLE, ZADASZENIA</p>
                            <p class="paragraph-post">Tworząc pergolę lub zadaszenie pamiętajmy, że rzuca ona różny cień na Twoją powierzchnię. Oprócz zapewnienia ochrony przed naturalnym światłem może ona nadać ciekawy efekt cienia w postaci różnych wzorów. Oprócz drewna możesz użyć także bambusy lub stal w zależności od stylu domu.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/12926719/Chambers-St-contemporary-patio-melbourne' target='_blank'><img src='https://st.hzcdn.com/simgs/c9c11779038fefa2_8-2651/contemporary-patio.jpg' alt=''/></a><div><small>Photo by Mim Design</small></div></div>
                            <p class="paragraph-post bigger">KRATKI OGRODOWE, BALUSTRADY</p>
                            <p class="paragraph-post">Działają podobnie jak pergole czy zadaszenia, rzucając różnego rodzaju cień w zależności od konstrukcji.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/1788538/Prairie-House-No-2-contemporary-exterior-minneapolis' target='_blank'><img src='https://st.hzcdn.com/simgs/a4616eb500800ced_8-3205/contemporary-exterior.jpg' alt=''/></a><div><small>Photo by ALTUS Architecture + Design</small></div></div>
                            <div class="back-to-post">
                                <a class="back-blog" href="/blog">
                                    <i class="post-navigation-icon fa fa-angle-double-left"></i> WRÓĆ
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-column-about">
                        <div class="about-me">
                            <img src="/images/o-nas.png" />
                            <h6>TUIN</h6>
                            <p>Jesteśmy pasjonatami dobrego designu w zewnętrznych przestrzeniach, jak również miłośnikami roślin i natury.</p>
                        </div>
                        <div class="categories">
                            <aside id="categories" class="widget-categories">
                                <h4 class="widget-title">Categories</h4>
                                <ul>
                                    <li class="choose-item"><a href="/design">Design</a> (2)</li>
                                    <li class="choose-item"><a href="/handmade">Handmade</a> (1)</li>
                                    <li class="choose-item"><a href="/blog">Rośliny</a> (0)</li>
                                    <li class="choose-item"><a href="/blog">Drzewa</a> (0)</li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>