<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio-wrapper">
            <div class="container">
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_six/i_1_1.jpg" alt="Zdjęcia portfolio"/>
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_six/i_1_1.jpg" src="/images/portfolio_six/thumbs/i_1_1.jpg" class="active">
                                <img data-big="/images/portfolio_six/i_1_2.jpg" src="/images/portfolio_six/thumbs/i_1_2.jpg">
                                <img data-big="/images/portfolio_six/i_1_3.jpg" src="/images/portfolio_six/thumbs/i_1_3.jpg">
                                <img data-big="/images/portfolio_six/i_1_4.jpg" src="/images/portfolio_six/thumbs/i_1_4.jpg">
                                <img data-big="/images/portfolio_six/i_1_5.jpg" src="/images/portfolio_six/thumbs/i_1_5.jpg">
                                <img data-big="/images/portfolio_six/i_1_6.jpg" src="/images/portfolio_six/thumbs/i_1_6.jpg">
                                <img data-big="/images/portfolio_six/i_1_7.jpg" src="/images/portfolio_six/thumbs/i_1_7.jpg">
                                <img data-big="/images/portfolio_six/i_1_8.jpg" src="/images/portfolio_six/thumbs/i_1_8.jpg">
                                <img data-big="/images/portfolio_six/i_1_9.jpg" src="/images/portfolio_six/thumbs/i_1_9.jpg">
                                <img data-big="/images/portfolio_six/i_1_10.jpg" src="/images/portfolio_six/thumbs/i_1_10.jpg">
                                <img data-big="/images/portfolio_six/i_1_11.jpg" src="/images/portfolio_six/thumbs/i_1_11.jpg">
                                <img data-big="/images/portfolio_six/i_1_12.jpg" src="/images/portfolio_six/thumbs/i_1_12.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Ogród nowoczesny<br /> w Józefowie</h2>
                        <p>Projekt ogrodu został wykonany w nowoczesnym stylu. Geometryczna kompozycja zieleni podporządkowana jest stylowi domu i istniejącej kostce brukowej. Z lewej strony tarasu zaprojektowana została pergola na drewno. Miejsce na grilla umieszczone zostało w południowej części ogrodu. Otacza je żywopłot z naturalnie rosnących żywotników zachodnich w odmianie 'Smaragd'. Nasadzenia te przysłaniając widok na sąsiednią działkę zwiększają poczucie komfortu i prywatności. Najmniej nasadzeń znajduje się w północno - wschodniej części ogrodu. Miejsce to pokrywa głównie trawnik, tak aby można było rozstawić sprzęt do zabaw dla dzieci. </p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_six/i_0_1.jpg" />
                </div>
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_six/i_3_1.jpg" alt="Zdjęcia portfolio" />
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_six/i_3_1.jpg" src="/images/portfolio_six/thumbs/i_3_1.jpg" class="active">
                                <img data-big="/images/portfolio_six/i_3_2.jpg" src="/images/portfolio_six/thumbs/i_3_2.jpg">
                                <img data-big="/images/portfolio_six/i_3_3.jpg" src="/images/portfolio_six/thumbs/i_3_3.jpg">
                                <img data-big="/images/portfolio_six/i_3_4.jpg" src="/images/portfolio_six/thumbs/i_3_4.jpg">
                                <img data-big="/images/portfolio_six/i_3_5.jpg" src="/images/portfolio_six/thumbs/i_3_5.jpg">
                                <img data-big="/images/portfolio_six/i_3_6.jpg" src="/images/portfolio_six/thumbs/i_3_6.jpg">
                                <img data-big="/images/portfolio_six/i_3_7.jpg" src="/images/portfolio_six/thumbs/i_3_7.jpg">
                                <img data-big="/images/portfolio_six/i_3_8.jpg" src="/images/portfolio_six/thumbs/i_3_8.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Rabaty</h2>
                        <p>Ze względu na potrzebę osłonięcia się od sąsiednich działek, roślinność została umieszczona głównie przy ogrodzeniu. W ogrodzie zaprojektowana została różnorodna zieleń z wieloma akcentami kolorystycznymi. W przeważającej części są to krzewy i drzewa, które nie wymagają zbytniej pielęgnacji. Do najciekawszych z nich należą: cyprysik 'Boulevard', sosna pospolita w odmianie 'Aurea', cyprysik nutkajski 'Pendula', świerk w odmianie 'Maigold'. Ze względu na istniejący drzewostan w projekcie zaproponowano tylko trzy drzewa: Klon pospolity 'Royal Red', Głóg pośredni 'Paul's Scarlet' oraz Magnolie 'Betty'. Pod drzewami umieszczono nasadzenia z funki Hosta. Wybrano odmiany najbardziej odporne na ślimaki. Przód domu jako część reprezentacyjna podkreślony został strzyżonymi żywopłotami z bukszpanu wieczniezielonego. Pomiędzy żywopłotami umieszczona została roślinność okrywowa oraz rododendrony i hortensje. Rośliny te dobrze czują się w pobliżu rosnących tam sosen pospolitych. Przy ścieżce prowadzącej do tarasu umieszczono kule z bukszpanów oraz pomiędzy nimi żurawki w odmianie 'Kassandra'.</p>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>