<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio-wrapper">
            <div class="container">
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_five/i_1_1.jpg" alt="Zdjęcia portfolio"/>
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_five/i_1_1.jpg" src="/images/portfolio_five/thumbs/i_1_1.jpg" class="active">
                                <img data-big="/images/portfolio_five/i_1_2.jpg" src="/images/portfolio_five/thumbs/i_1_2.jpg">
                                <img data-big="/images/portfolio_five/i_1_3.jpg" src="/images/portfolio_five/thumbs/i_1_3.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Ogród nowoczesny</h2>
                        <p>Projekt ogrodu został wykonany w nowoczesnym stylu. Swobodne linie łączą się tu z liniami geometrycznymi. W ogrodzie można wyróżnić strefy: ogród reprezentacyjny z przodu domu, część rekreacyjną pomiędzy domem a garażem oraz z tył garażu, ogród warzywny, ogród owocowy. W ogrodzie rekreacyjnym pomiędzy garażem a domem zaprojektowano drewniany taras połączony z pergolą. Jako zadaszenie pergoli wybrano markizę chroniącą przed słońcem i przed deszczem. Obok tarasu wkomponowana została fontanna w formie ściany wodnej. Nawierzchnia przy tarasie wyłożona została białym grysem. Ułożone pomiędzy białe płyty betonowe prowadzą do ściany pomalowanej farbą tablicową i drewnianej ławki - jest to miejsce przeznaczone dla dzieci. Po obu bokach tablicy znajdują się murowane białe donice z roślinnością.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_five/i_0_1.jpg" />
                </div>
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_five/i_3_1.jpg" alt="Zdjęcia portfolio" />
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Oświetlenie</h2>
                        <p>Atrakcyjność nowoczesnego ogrodu podkreślona jest nocnym delikatnym oświetleniem tarasu, paleniska, pergoli, sadu i boiska do koszykówki.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_five/i_2_1.jpg" />
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>