<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio-wrapper">
            <div class="container">
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_four/i_1_1.jpg" alt="Zdjęcia portfolio"/>
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_four/i_1_1.jpg" src="/images/portfolio_four/thumbs/i_1_1.jpg" class="active">
                                <img data-big="/images/portfolio_four/i_1_2.jpg" src="/images/portfolio_four/thumbs/i_1_2.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Ogród minimalistyczny</h2>
                        <p>Projekt ogrodu został wykonany w minimalistycznym stylu.Wszystkie elementy doskonale wpisują się w nowoczesny charakter domu. Minimali-styczny ogród skupia się głównie na konstrukcjach, roślinność jest tu nieliczna, jednak stanowi bardzo ważny element dekoracyjny i dopełniający. Wybrane niektóre gatunki roślin są unikatowe, kolekcjonerskie i stanowią niezwykły akcent w ogrodzie. Wspaniałym akcentem jest tu posadzony z przodu domu klon ‘Royal Red’ o bordowych liściach. Przy śmietniku umieszczona została trawa ozdobna miskant chiński ‘Zebrinus’. Z dekoracyjnych gatunków jest tu także rozplenica japońska, zaprojektowana z przodu domu przy furtce, która w lipcu wypuszcza puszyste kwiatostany, malowniczo powie-wające na wietrze. Z tył domu z ciekawszych odmian należy wymienić tu surmię bigno-niową 'Nana'. Jest to małe drzewo szczepione na pniu z regularną parasolowatą koro-ną, złożoną z dużych sercowatych, jasnozielonych liści.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_four/i_0_1.jpg" />
                </div>
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_four/i_3_1.jpg" alt="Zdjęcia portfolio" />
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_four/i_3_1.jpg" src="/images/portfolio_four/thumbs/i_3_1.jpg" class="active">
                                <img data-big="/images/portfolio_four/i_3_2.jpg" src="/images/portfolio_four/thumbs/i_3_2.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Przekroje</h2>
                        <p>W ogrodzie można wyróżnić sad, ogród rekreacyjny od strony północno-zachodniej oraz ogród reprezentacyjny z przo-du. W części reprezentatywnej znajduje się miejsce na śmietnik wykonany z gabionów, ozdobne trawy, klon pospolity ‘Royal Red’ oraz grafitowe donice z serii modern line. Sad został oddzielony od pozostałej części ogrodu koszami gabionowymi. W części rekreacyjnej zaprojektowano: pergolę połączoną ze ścianą z gabionów; grafi-tową, betonową ścianę - miejsce na rzeźbę ogrodową; grafitowo – białe, murowane donice. Na tarasie umieszczone zostały prostokątne donice z serii modern line. Dla komfortu wokół umieszczono drewniane ogrodzenie na przemian z żywotnikami za-chodnimi ‘Smaragd’.</p>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>