<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio-wrapper">
            <div class="container">
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_eight/i_1_1.jpg" alt="Zdjęcia portfolio"/>
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_eight/i_1_1.jpg" src="/images/portfolio_eight/thumbs/i_1_1.jpg" class="active">
                                <img data-big="/images/portfolio_eight/i_1_2.jpg" src="/images/portfolio_eight/thumbs/i_1_2.jpg">
                                <img data-big="/images/portfolio_eight/i_1_3.jpg" src="/images/portfolio_eight/thumbs/i_1_3.jpg">
                                <img data-big="/images/portfolio_eight/i_1_4.jpg" src="/images/portfolio_eight/thumbs/i_1_4.jpg">
                                <img data-big="/images/portfolio_eight/i_1_5.jpg" src="/images/portfolio_eight/thumbs/i_1_5.jpg">
                                <img data-big="/images/portfolio_eight/i_1_6.jpg" src="/images/portfolio_eight/thumbs/i_1_6.jpg">
                                <img data-big="/images/portfolio_eight/i_1_7.jpg" src="/images/portfolio_eight/thumbs/i_1_7.jpg">
                                <img data-big="/images/portfolio_eight/i_1_8.jpg" src="/images/portfolio_eight/thumbs/i_1_8.jpg">
                                <img data-big="/images/portfolio_eight/i_1_9.jpg" src="/images/portfolio_eight/thumbs/i_1_9.jpg">
                                <img data-big="/images/portfolio_eight/i_1_10.jpg" src="/images/portfolio_eight/thumbs/i_1_10.jpg">
                                <img data-big="/images/portfolio_eight/i_1_11.jpg" src="/images/portfolio_eight/thumbs/i_1_11.jpg">
                                <img data-big="/images/portfolio_eight/i_1_12.jpg" src="/images/portfolio_eight/thumbs/i_1_12.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Ogród nowoczesny<br /> w Sejnach</h2>
                        <p>Ogród zaprojektowany został w nowoczesnym stylu. Można tu wyróżnić strefę parkingową przed ogrodzeniem działki, strefę reprezentayjną przed domem, strefę rekreacyjną z tył działki, wybieg dla psów. Podjazd i ścieżki zaprojektowano z kostki firmy Libet. Strefa rekreacyjna składa się z dwustopniowego tarasu, gdzie można wyróżnić część jadalną i część na leżaki. Nieopodal, w rogu tarasu zaprojektowany został brzozowy zakątek z dereniami białymi, które zimą wraz murkiem z czerwonej cegły będą stanowiły wspaniały kontrast dla białej kory brzóz. Za ogordzeniem po bokach posadzona została Paulownia puszysta. Drzewo to pochodzi z Chin, gdzie uważane jest za roślinę przynoszącą szczęście. Jej główną ozdobą są kwiaty, które pojawiają się już w maju. Właściciele ogrodu sa miłośnikami zwierząt, dlatego znaczna część ogrodu została wydzielona na wybieg dla psów. Wszystkie elementy doskonale wpisują się w styl domu.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_eight/i_0_1.jpg" />
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>