<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio-wrapper">
            <div class="container">
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_one/i_1_1.jpg" alt="Zdjęcia portfolio"/>
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_one/i_1_1.jpg" src="/images/portfolio_one/thumbs/i_1_1.jpg" class="active">
                                <img data-big="/images/portfolio_one/i_1_2.jpg" src="/images/portfolio_one/thumbs/i_1_2.jpg">
                                <img data-big="/images/portfolio_one/i_1_3.jpg" src="/images/portfolio_one/thumbs/i_1_3.jpg">
                                <img data-big="/images/portfolio_one/i_1_4.jpg" src="/images/portfolio_one/thumbs/i_1_4.jpg">
                                <img data-big="/images/portfolio_one/i_1_5.jpg" src="/images/portfolio_one/thumbs/i_1_5.jpg">
                                <img data-big="/images/portfolio_one/i_1_6.jpg" src="/images/portfolio_one/thumbs/i_1_6.jpg">
                                <img data-big="/images/portfolio_one/i_1_7.jpg" src="/images/portfolio_one/thumbs/i_1_7.jpg">
                                <img data-big="/images/portfolio_one/i_1_8.jpg" src="/images/portfolio_one/thumbs/i_1_8.jpg">
                                <img data-big="/images/portfolio_one/i_1_9.jpg" src="/images/portfolio_one/thumbs/i_1_9.jpg">
                                <img data-big="/images/portfolio_one/i_1_10.jpg" src="/images/portfolio_one/thumbs/i_1_10.jpg">
                                <img data-big="/images/portfolio_one/i_1_11.jpg" src="/images/portfolio_one/thumbs/i_1_11.jpg">
                                <img data-big="/images/portfolio_one/i_1_12.jpg" src="/images/portfolio_one/thumbs/i_1_12.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Ogród nowoczesny<br /> w Rudach</h2>
                        <p>Projekt ogrodu został wykonany w nowoczesnym stylu. Kompozycja zieleni podporządkowana jest stylowi domu. Poszczególne elementy mają proste, minimalistyczne i geometryczne kształty. Dominującym materiałem jest tu beton połączony z drewnem.</p>
                        <p>Od strony wschodniej na przeciwko tarasu zaprojektowany został nowoczesny i wygodny zielony salon. Z elementów małej architektury można tu wyróżnić: pergolę z rozsuwaną markizą, ławki z wbudowaną roślinnością, palenisko, miejsce na leżaki, miejsce na śmietnik, drewutnia. Strona południowo-wschodnia przeznaczona jest dla dzieci. Przy domu zaproponowano duży taras z płyt betonowych z wbudowanymi donicami na zioła i warzywa. Niewątpliwie świetnym miejscem do relaksu jest tu wbudowana w taras balia ogrodowa, zabudowana dookoła kratkami ogrodowymi dla lepszego poczucia komfortu.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_one/i_0_1.jpg" />
                </div>
                <div class="portfolio-column-project night">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_one/i_3_1.jpg" alt="Zdjęcia portfolio" />
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_one/i_3_1.jpg" src="/images/portfolio_one/thumbs/i_3_1.jpg" class="active">
                                <img data-big="/images/portfolio_one/i_3_2.jpg" src="/images/portfolio_one/thumbs/i_3_2.jpg">
                                <img data-big="/images/portfolio_one/i_3_3.jpg" src="/images/portfolio_one/thumbs/i_3_3.jpg">
                                <img data-big="/images/portfolio_one/i_3_4.jpg" src="/images/portfolio_one/thumbs/i_3_4.jpg">
                                <img data-big="/images/portfolio_one/i_3_5.jpg" src="/images/portfolio_one/thumbs/i_3_5.jpg">
                                <img data-big="/images/portfolio_one/i_3_6.jpg" src="/images/portfolio_one/thumbs/i_3_6.jpg">
                                <img data-big="/images/portfolio_one/i_3_7.jpg" src="/images/portfolio_one/thumbs/i_3_7.jpg">
                                <img data-big="/images/portfolio_one/i_3_8.jpg" src="/images/portfolio_one/thumbs/i_3_8.jpg">
                                <img data-big="/images/portfolio_one/i_3_9.jpg" src="/images/portfolio_one/thumbs/i_3_9.jpg">
                                <img data-big="/images/portfolio_one/i_3_10.jpg" src="/images/portfolio_one/thumbs/i_3_10.jpg">
                                <img data-big="/images/portfolio_one/i_3_11.jpg" src="/images/portfolio_one/thumbs/i_3_11.jpg">
                                <img data-big="/images/portfolio_one/i_3_12.jpg" src="/images/portfolio_one/thumbs/i_3_12.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Oświetlenie</h2>
                        <p>Atrakcyjność nowoczesnego ogrodu podkreślona jest nocnym delikatnym oświetleniem tarasu, paleniska, pergoli, sadu i boiska do koszykówki.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_one/i_2_1a.png" />
                    <div class="legenda">
                        <div class="inline-element">
                            <img src="/images/portfolio_one/legend/sq1.jpg"><div class="label-desc">Kinkiet</div>
                            <br>
                            <img src="/images/portfolio_one/legend/sq2.jpg"><div class="label-desc">Reflektorki</div>
                        </div><div class="inline-element">
                            <img src="/images/portfolio_one/legend/sq3.jpg"><div class="label-desc">Oświetlenie do zabudowy <br>w murkach, ogrodzeniu i schodach</div>
                            <br>
                            <img src="/images/portfolio_one/legend/sq4.jpg"><div class="label-desc">Oświetlenie sufitowe</div>
                        </div><div class="inline-element">
                            <img src="/images/portfolio_one/legend/sq5.jpg"><div class="label-desc">Oświetlenie do montażu<br>w podłożu LED</div>
                            <br>
                            <img src="/images/portfolio_one/legend/sq6.jpg"><div class="label-desc">Taśma LED</div>
                        </div><div class="inline-element">
                            <img src="/images/portfolio_one/legend/sq7.jpg"><div class="label-desc">Kule świetlne</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>