<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio-wrapper">
            <div class="container">
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_seven/i_1_1.jpg" alt="Zdjęcia portfolio"/>
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_seven/i_1_1.jpg" src="/images/portfolio_seven/thumbs/i_1_1.jpg" class="active">
                                <img data-big="/images/portfolio_seven/i_1_2.jpg" src="/images/portfolio_seven/thumbs/i_1_2.jpg">
                                <img data-big="/images/portfolio_seven/i_1_3.jpg" src="/images/portfolio_seven/thumbs/i_1_3.jpg">
                                <img data-big="/images/portfolio_seven/i_1_4.jpg" src="/images/portfolio_seven/thumbs/i_1_4.jpg">
                                <img data-big="/images/portfolio_seven/i_1_5.jpg" src="/images/portfolio_seven/thumbs/i_1_5.jpg">
                                <img data-big="/images/portfolio_seven/i_1_6.jpg" src="/images/portfolio_seven/thumbs/i_1_6.jpg">
                                <img data-big="/images/portfolio_seven/i_1_7.jpg" src="/images/portfolio_seven/thumbs/i_1_7.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Ogród minimalistyczny<br /> w dzielnicy Wawer</h2>
                        <p>Ogród został zaprojektowany w stylu minimalistycznym. Jako ogrodzenie zostały zastosowane panele gabionowe połaczone z drewnianymi belkami. Prostą formę łagodzą tu trawy ozdobne umieszczone głównie przy ogrodzeniu. Na tarasie umieszczono gotowe donice gabionowe. Ten styl ogrodu został dostosowany do architektury budynku i jego wnętrza. Prostota, monochromatyczność, spokój, subtelność i elegancja – to cechy tego ogrodu.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_seven/i_0_1.jpg" />
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>