<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio-wrapper">
            <div class="container">
                <div class="portfolio-column-project">
                    <div class="portfolio-row-pictures">
                        <div class="slider-portfolio">
                            <img class="big" src="/images/portfolio_nine/i_1_1.jpg" alt="Zdjęcia portfolio"/>
                        </div>
                        <div class="mini-slider-portfolio">
                            <div class="mini-portfolio-move">
                                <img data-big="/images/portfolio_nine/i_1_1.jpg" src="/images/portfolio_nine/thumbs/i_1_1.jpg" class="active">
                                <img data-big="/images/portfolio_nine/i_1_2.jpg" src="/images/portfolio_nine/thumbs/i_1_2.jpg">
                                <img data-big="/images/portfolio_nine/i_1_3.jpg" src="/images/portfolio_nine/thumbs/i_1_3.jpg">
                                <img data-big="/images/portfolio_nine/i_1_4.jpg" src="/images/portfolio_nine/thumbs/i_1_4.jpg">
                                <img data-big="/images/portfolio_nine/i_1_5.jpg" src="/images/portfolio_nine/thumbs/i_1_5.jpg">
                                <img data-big="/images/portfolio_nine/i_1_6.jpg" src="/images/portfolio_nine/thumbs/i_1_6.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row-description">
                        <h2 class="heading-style">Ogród nowoczesny<br /> w Grójcu</h2>
                        <p>Projekt nawierzchnii ogrodowej przewidywał ruch dla pojazdów ciężarowych. Dla ułatwienia poruszania się większymi samochodami po środku zaprojektowane zostało duże rondo. Cały projekt jest w stylu swobodnym. Głównym materiałem jest szara kostka granitowa Strzegom, natomiast ciemne obwódki to bazalt lub czarny granit tzw. Szwed.</p>
                    </div>
                </div>
                <h2 class="heading-style">Widok z góry</h2>
                <div class="portfolio-column-image-top">
                    <img src="/images/portfolio_nine/i_0_1.jpg" />
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>