<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header">
                <div class="caption-header-background">
                    <h1>Nasze portfolio</h1>
                </div>
            </div>            
        </div>
        <div class="portfolio">
            <div class="container">
                <div class="portfolio-block">
                    <div class="portfolio-column-vertical">
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt1.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/one">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród nowoczesny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt4.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/two">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród śródziemnomorski</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt7.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/three">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród minimalistyczny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-column-vertical">
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt2.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/four">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród minimalistyczny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt5.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/five">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród nowoczesny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt8.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/six">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród nowoczesny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-column-vertical">
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt3.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/seven">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród minimalistyczny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt6.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/eight">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród nowoczesny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-item">
                                <img src="/images/projekt9.jpg" alt="Portfolio obrazek" />
                                <div class="block-hover">
                                    <a href="/portfolio/nine">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                        <div>Ogród nowoczesny</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>