<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header blog-img">
                <div class="caption-header-background">
                    <h1>Blog</h1>
                    <h3 class="blog-header">Projektowanie ogrodów</h3>
                </div>
            </div>            
        </div>
        <div class="blog-wrapper-posts">
            <div class="container">
                <div class="blog-column">
                    <div class="blog-column-posts">
                        <div class="blog-image-posts">
                            <img src="/images/blog2-post.jpg" />
                        </div>
                        <div class="blog-description">
                            <h4 class="header-blog post">Drewno z recyklingu w ogrodzie</h4>
                            <div class="time-post">
                                <i class="fa fa-clock-o p-color"></i>
                                <p>25 Styczeń, 2017</p>
                            </div>
                            <p class="paragraph-post">Nikt nie oprze się urokowi wiekowego drewna. Może ono wprowadzić ciepło, nieprzeciętną strukturę i charakter do Twojego ogrodu. Używając drewna z recyklingu wprowadzisz historię do rabat, mebli ogrodowych, ogrodzeń, konstrukcji i nadasz swojej przestrzeni ‘oldschoolowego’ wyglądu.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/6927314/Stonegate-farmhouse-patio-san-francisco' target='_blank'><img src='https://st.hzcdn.com/simgs/80a10a4a028aa096_8-2806/farmhouse-patio.jpg' alt='' width='500' height='334'/></a><div><small>Photo by EBHCI</small></div></div>
                            <p class="paragraph-post">Drewno z odzysku, poddawane recyklingowi najprawdopodobniej pochodzi z rozbieranych budynków, takich jak magazyny, stodoły lub fabryki. Wiele z tych starych budynków wypełnione jest szkodliwymi materiałami, także ważne jest, aby wiedzieć, w jaki sposób zostało odzyskane drewno.</p>
                            <p class="paragraph-post">Zaletą używania takiego drewna w ogrodzie jest to, że jest ono całkowicie suche i często już zaprawione. Koszt takiego drewna waha się w zależności od gatunku drzewa, z którego zostało utworzone, jakości oraz pochodzenia drewna. Najdroższe będzie drewno antyczne, pozyskane ze starych lasów. Czasami bywa jednak, że ktoś oddaje je za darmo.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/163639/Laax-Table-contemporary-pool-chicago' target='_blank'><img src='https://st.hzcdn.com/simgs/7fd11fdd0daee302_8-1371/contemporary-pool.jpg' alt='' width='500' height='400'/></a><div><small>Photo by Maynard Studios</small></div></div>
                            <p class="paragraph-post">Jeżeli posiadasz już takie drewno i chcesz je poddać obróbce, warto udać się do dobrego stolarza. Z pewnością taka osoba posiada odpowiednie materiały i wiedzę jak zabezpieczyć nasze odzyskane drewno na długi czas. Jeżeli jednak szukasz takiego drewna i nie wiesz gdzie je znaleźć, możesz odwiedzić sklepy ze starociami, popytać się u stolarza lub gospodarzy większych gospodarstw rolnych (np. z rozbiórki starej stodoły). Jedna z lepszych metod to szukanie takiego drewna na portalach typu - olx.pl, gdzie możesz pozyskać je nawet za darmo lub symboliczną sumę.</p>
                            <p class="paragraph-post">Jeżeli zamierzasz sam odnowić takie drewno pamiętaj, aby używać maski i grubych rękawic. Materiały ze starych struktur mogą mieć farby zawierające ołów lub pozostałości azbestu. Drugi problem to liczne, metalowe, często zardzewiałe pozostałości. Pamiętaj, aby starannie je usunąć przed ich obróbką i piłowaniem. Czasami nasza praca z takim drewnem, może być minimalna i wystarczy ją wyczyścić metalową szczotką.</p>
                            <p class="paragraph-post">Dlaczego dobrze jest używać takiego drewna? Po pierwsze jesteśmy przyjaźni dla środowiska. Zamiast wyrzucać lub spalić drewno, możemy je przywrócić do życia i ponownie wykorzystać. Po drugie dobrze wkomponowane w przestrzeń sprawi, że Twój ogród będzie niepowtarzalny.</p>
                            <div class="back-to-post">
                                <a class="back-blog" href="/blog">
                                    <i class="post-navigation-icon fa fa-angle-double-left"></i> WRÓĆ
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-column-about">
                        <div class="about-me">
                            <img src="/images/o-nas.png" />
                            <h6>TUIN</h6>
                            <p>Jesteśmy pasjonatami dobrego designu w zewnętrznych przestrzeniach, jak również miłośnikami roślin i natury.</p>
                        </div>
                        <div class="categories">
                            <aside id="categories" class="widget-categories">
                                <h4 class="widget-title">Categories</h4>
                                <ul>
                                    <li class="choose-item"><a href="/blog">Design</a> (2)</li>
                                    <li class="choose-item"><a href="/blog">Handmade</a> (1)</li>
                                    <li class="choose-item"><a href="/blog">Rośliny</a> (0)</li>
                                    <li class="choose-item"><a href="/blog">Drzewa</a> (0)</li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>