<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header services-img">
                <div class="caption-header-background">
                    <h1>Nasze usługi</h1> 
                </div>
            </div>            
        </div>
        <div class="container-services">
            <div class="garden-design-project" id="design">
                <div class="container">
                    <div class="services-header">
                        <div class="icon-block-choose">
                            <img src="/images/graphic-desig.svg" alt="Ikona jakość" class="icon-svg-choose">
                        </div>
                        <h1>Projektowanie Ogrodów</h1>
                    </div>
                    <div class="services-description">
                        <p>W ciągu ostatnich kilku lat pomagamy naszym klientom, świadcząc usługę projektowania ogrodów w każdym aspekcie - od koncepcji po zamówienie roślin. Czasami po prostu trzeba zaktualizować granice rabat, nadać im nowe życie, a nawet zacząć od nowa z nowymi nasadzeniami, nawierzchniami i unikalnym pomysłem na Twoją przestrzeń. Dużo osób przychodzi do nas tylko po projekt ogrodu i jest to coś, co bardzo lubimy robić; możliwość pracy w różnych warunkach siedliskowych, z roślinnością, możliwość stworzenia unikalnego planu nasadzeń, który przyniesie lata przyjemności właścicielowi ogrodu.</p>
                    </div>
                    <div class="garden-design-content">
                        <h3>Oferta obejmuje tworzenie projektów:</h3>
                        <div class="column-garden-design">
                            <div class="block-garden-design">
                                <div class="number-design">1</div>
                                <p>Ogrodów przydomowych</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">2</div>
                                <p>Zieleni wokół firm i instytucji</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">3</div>
                                <p class="justify">Zieleni na osiedlach, przy obiektach sportowych, rekreacyjnych, handlowych</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">4</div>
                                <p class="justify">Nasadzeń zieleni przyulicznej minimalizującej skutki zanieczyszczenia</p>
                            </div>
                        </div>
                        <div class="column-garden-design">
                            <div class="block-garden-design">
                                <div class="number-design">5</div>
                                <p class="justify">Zieleni we wnętrzach dla biur, obiektów handlowych, domów prywatnych i innych budynków</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">6</div>
                                <p>Zieleni na balkonach, tarasach, w ogrodach zimowych</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">7</div>
                                <p>Parków i zieleńców, placów zabaw</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">8</div>
                                <p>Ogrodów wertykalnych</p>
                            </div>
                        </div>
                        <div class="column-garden-design last">
                            <div class="block-garden-design">
                                <div class="number-design">9</div>
                                <p>Ogrodów na dachach</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">10</div>
                                <p>Rekonstrukcji założeń ogrodów zabytkowych</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">11</div>
                                <p>Zieleni ochronnej</p>
                            </div>
                            <div class="block-garden-design">
                                <div class="number-design">12</div>
                                <p>Zieleni przy obiektach przemysłowych</p>
                            </div>
                        </div>
                        <div class="table-garden-design">
                        <h3>Cennik projektowania ogrodów</h3>
                            <table>
                                <tr>
                                    <th>Metraż ogrodu</th>
                                    <th>Cena netto<sup>*</sup></th>
                                    <th>Uwagi</th>
                                </tr>
                                <tr>
                                    <td>Do 200 m<sup>2</sup></td> 
                                    <td>600 zł</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>200-300 m<sup>2</sup></td>
                                    <td>750 zł</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>300-600 m<sup>2</sup></td>
                                    <td>1100 zł</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>600-1100 m<sup>2</sup></td>
                                    <td>1600 zł</td>
                                    <td>Zalecenia pielęgnacji gratis.</td>
                                </tr>
                                <tr>
                                    <td>1100-2000 m<sup>2</sup></td>
                                    <td>2300 zł</td>
                                    <td>2 przekroje gratis.<br/>Zalecenia pielęgnacji gratis.</td>
                                </tr>
                                <tr>
                                    <td>2000-3000 m<sup>2</sup></td>
                                    <td>3000 zł</td>
                                    <td>Rysunek techniczny małej architektury gratis.<br/>2 przekroje gratis.<br/>Zalecenia pielęgnacji gratis.</td>
                                </tr>
                                <tr>
                                    <td>Powyżej 3000 m<sup>2</sup></td>
                                    <td>Na zapytanie</td>
                                    <td>Na zapytanie</td>
                                </tr>
                            </table>
                            <p><sup>*</sup>Podane ceny mają charakter informacyjny i nie stanowią oferty w myśl prawa handlowego.</p>
                        </div>
                        <div class="garden-project-content">
                            <div class="garden-project-content-column">
                                <h3>Podstawowy projekt zawiera:</h3>
                                <ol>
                                    <li>Konsultacje z klientem - 2 wizyty.<br/>Miejscowość oddalona od centrum miasta powyżej 15 km + 50 zł do projektu.</li>
                                    <li>Inwentaryzację terenu.</li>
                                    <li>Jedną koncepcję z doborem roślin.</li>
                                    <li>Dwie poprawki do koncepcji.</li>
                                    <li>Wykaz roślin ze zdjęciami.</li>
                                    <li>Projekt techniczny w skali 1:100, 1:200 z ilością nasadzonych sztuk dla roślin.</li>
                                </ol>
                            </div>
                            <div class="garden-project-content-column">
                                <h3>Dodatki do projektu - wyceniane indywidualnie:</h3>
                                <ol>
                                    <li>Dodatkowa koncepcja ogrodu.</li>
                                    <li>Dodatkowa wizyta u klienta.</li>
                                    <li>Dodatkowe poprawki do koncepcji.</li>
                                    <li>Wizualizacja ogrodu w 3D.</li>
                                    <li>Koncepcja i rysunki techniczne małej architektury ogrodowej.</li>
                                    <li>Koncepcja i projekt nawierzchni ogrodowych.</li>
                                    <li>Zalecenia pielęgnacji dla roślin</li>
                                    <li>Wydrukowanie i złożenie projektu do formatu A4</li>
                                    <li>Dobór oświetlenia</li>
                                    <li>Projekt ogrodzenia</li>
                                </ol>
                            </div>
                        </div>
                        <div class="garden-design-simples">
                            <h3>Przykładowe projekty techniczne</h3>
                            <div class="simples-items">
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image1.jpg" data-big="/images/image-services/image1.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt rabaty</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image2.jpg" data-big="/images/image-services/image2.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt rabaty</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image3.jpg" data-big="/images/image-services/image3.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt rabaty</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image4.jpg" data-big="/images/image-services/image4.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt rabaty</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image5.jpg" data-big="/images/image-services/image5.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt rabaty</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simples-items">
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image6.jpg" data-big="/images/image-services/image6.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Wymiarowanie ogrodu</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image7.jpg" data-big="/images/image-services/image7.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt nawierzchni</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image8.jpg" data-big="/images/image-services/image8.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt ogrodzenia</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image9.jpg" data-big="/images/image-services/image9.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Oświetlenie</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-design">
                                    <img src="/images/image-services/thumbs/image10.jpg" data-big="/images/image-services/image10.jpg"/>
                                    <div class="block-hover-design">
                                        <div class="design-caption">
                                            <i class="fa fa-search fc-white"></i>
                                            <div>Projekt nasadzeń</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image-slider">
                            <div class="arrow left">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="50px" height="50px">
                                  <g>
                                    <path class="svg-icon" d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF"></path>
                                  </g>
                                </svg>
                            </div>
                            <div class="arrow right">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="50px" height="50px">
                                  <g>
                                    <path class="svg-icon" d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#FFFFFF"></path>
                                  </g>
                                </svg>
                            </div>
                            <div class="close-button">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 256 256" height="40px" id="Layer_1" version="1.1" viewBox="0 0 256 256" width="40px" xml:space="preserve">
                                    <path class="svg-icon" d="M137.051,128l75.475-75.475c2.5-2.5,2.5-6.551,0-9.051s-6.551-2.5-9.051,0L128,118.949L52.525,43.475  c-2.5-2.5-6.551-2.5-9.051,0s-2.5,6.551,0,9.051L118.949,128l-75.475,75.475c-2.5,2.5-2.5,6.551,0,9.051  c1.25,1.25,2.888,1.875,4.525,1.875s3.275-0.625,4.525-1.875L128,137.051l75.475,75.475c1.25,1.25,2.888,1.875,4.525,1.875  s3.275-0.625,4.525-1.875c2.5-2.5,2.5-6.551,0-9.051L137.051,128z" fill="#FFFFFF"></path>
                                </svg>
                            </div>
                            <div class="big-image">
                                <img class="big" src="/images/image-services/image1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="go-to-portfolio">
                <div class="container">
                    <h1 class="header-change-color">Zobacz nasze portfolio</h1>
                    <p></p>
                    <a href="/portfolio"><button class="button-white">Przejdź dalej</button></a>
                </div>
            </div>
            <div class="garden-making" id="making">
                <div class="container">
                    <div class="services-header">
                        <div class="icon-block-choose">
                            <img src="/images/shovel-and-ground.svg" alt="Ikona jakość" class="icon-svg-choose">
                        </div>
                        <h1>Realizacja ogrodów</h1>
                    </div>
                    <div class="services-description">
                        <p>W procesie realizacji ogrodu współpracujemy z zaufanymi firmami zajmującymi się: zakładaniem ogrodów, oświetleniem, zakładaniem automatycznego nawadniania, tworzeniem nawierzchni ogrodowych, które będą budować Twój ogród w najwyższym standardzie.</p>
                        <p>Realizacja usługi wykonania ogrodu odbywała się na podstawie własnego projektu lub na zlecenie. Cena usługi waha się w zależności od wielkości ogrodu, terenu zieleni, ceny materiałów, czasu wykonania usługi, złożoności projektu, użytych materiałów i warunków technicznych.</p>
                    </div>
                </div>
            </div>
            <div class="garden-design-internet" id="design-internet">
                <div class="container">
                    <div class="services-header">
                        <div class="icon-block-choose">
                            <img src="/images/grid-world.svg" alt="Ikona jakość" class="icon-svg-choose">
                        </div>
                        <h1>Projekt ogrodu przez Internet</h1>
                    </div>
                    <div class="services-description">
                        <p>Projekt ogrodu przez Internet jest opłacalnym sposobem na zaprojektowanie Twojej przestrzeni przez wykwalifikowanych specjalistów, a także może być niezwykłym prezentem dla rodziny i przyjaciół. Unikniesz w ten sposób błędów, które są często popełniane przez amatorów ogrodnictwa.</p>
                    </div>
                    <h3>Jak to działa?</h3>
                    <p>To proste. Wyślemy do Ciebie formularz z prośbą o podanie nam szczegółów terenu przeznaczonego do zagospodarowania. Możesz wysłać wypełniony formularz z powrotem przez e-mail, w tym fotografie swojego ogrodu oraz mapę geodezyjną do celów projektowych pobraną z Urzędu Miasta bądź stworzony przez Ciebie własny plan posesji z podanymi wymiarami i naniesioną roślinnością. Zamiast formularza możesz od razu wypełnić ankietę, dostępną na naszej stronie.</p>
                    <h3>Ile to kosztuje?</h3>
                    <p>Możesz liczyć na conajmniej 15% zniżki. Jednak koszt zależy od wielkości ogrodu. Wszystkie ogrody wyceniane są indywidualnie.</p>
                    <h3>Drobnym drukiem</h3>
                    <ol>
                        <li>Przed przystąpieniem do projektowania pobierany jest zadatek w wysokości 30 % ceny projektu ogrodu. W razie odstąpienia od umowy przez klienta zadatek nie jest zwracany.</li>
                        <li>Na początku z klientem omawiana jest koncepcja ogrodu. Klient ma 3 dni na wniesienie uwag i poprawek do koncepcji. Brak uwag i poprawek będzie świadczył o tym, iż koncepcja jest gotowa do stworzenia ostatecznego projektu ogrodu.</li>
                        <li>Faktury wysyłane są na tydzień przed dostarczeniem projektu i wymagają płatności przed wysłaniem projektu do Ciebie.</li>
                        <li>Projekt wysyłany jest przez Internet. Za wydrukowanie projektu trzeba dodatkowo zapłacić.</li>
                        <li>Projekt pozostaje własnością firmy Tuin do momentu otrzymania płatności.</li>
                        <li>Twoje dane osobowe nie będą udostępniane innym osobom.</li>
                    </ol>
                </div>        
            </div>
            <div class="garden-measuring" id="measuring">
                <div class="container">
                    <div class="services-header">
                        <div class="icon-block-choose">
                            <img src="/images/tape-measure.svg" alt="Ikona jakość" class="icon-svg-choose">
                        </div>
                        <h1>Inwentaryzacja dendrologiczna</h1>
                    </div>
                    <div class="services-description">
                        <p>Firma Tuin oferuje pełny zakres usług związanych z inwentaryzacją zieleni. Usługa inwentaryzacji wchodzi w skład wykonania projektu ogrodu, jednak można zamówić ją także indywidualnie. Jest to zalecane głównie dla dużych przestrzeni takich jak parki lub większe zieleńce.</p>
                    </div>
                    <h3>Inwentaryzacja składa się z dwóch części:</h3>
                    <ol>
                        <li>Graficznej przedstawiającej lokalizację drzew i krzewów na mapie oraz inne elementy małej architektury ogrodowej, z oznaczeniem numerycznym, odpowiadającym tabeli z części opisowej.</li>
                        <li>Opisowej zawierającej:</li>
                        <ul>
                            <li>nazwy drzew i krzewów w języku polskim i łacińskim,</li>
                            <li>pomiary dendrometryczne, dla drzew - określenie obwodu pnia, wysokości oraz średnicy korony, dla krzewów -
    określenie powierzchni terenu oraz wysokości,</li>
                            <li>określenie stanu sanitarnego drzew i krzewów,</li>
                            <li>uwagi dotyczące pielęgnacji, zalecenia wycinki, przesadzenia,</li>
                            <li>określenie nazwy obiektów małej architektury ogrodowej wraz z uwagami technicznymi.</li>
                        </ul>
                        <li>Dodatkowo inwentaryzacja może zawierać:</li>
                        <ul>
                            <li>dokumentację fotograficzną,</li>
                            <li>określenie wieku drzewostanu na podstawie metody prof. L. Majdeckiego,</li>
                            <li>tabelę z preliminarzem opłat za ewentualne wycięcie drzew i krzewów,</li>
                            <li>listę drzew do usunięcia bez naliczania opłat oraz kwalifikujących się do przesadzenia.</li>
                        </ul>
                    </ol>
                    <p>W imieniu Inwestora na podstawie pełnomocnictwa możemy pozyskać decyzję administracyjną na wycinkę drzew i krzewów lub ich przesadzenie. Możemy również przygotować szkic wniosku o wycinkę drzew i krzewów.</p>
                    </div>
            </div>
            <div class="garden-others" id="others">
                <div class="container">
                    <div class="services-header">
                        <div class="icon-block-choose">
                            <img src="/images/dialogue-bubble.svg" alt="Ikona jakość" class="icon-svg-choose">
                        </div>
                        <h1>Inne usługi</h1>
                    </div>
                    <h3>Konsultacje</h3>
                    <p>Firma świadczy także usługi z zakresu profesjonalnego doradztwa i konsultacji z zakresu projektowania, wykonywania oraz pielęgnacji ogrodów i terenów zieleni. Dzięki długoletniemu doświadczeniu jesteśmy w stanie pomóc Państwu w każdym aspekcie Waszego ogrodu. Możemy doradzić między innymi w doborze szaty roślinnej, uporządkowaniu ogrodu, pielęgnacji, przebudowie ogrodu a nawet w zakupie roślin lub zamówić je za Państwa.</p>
                    <h3>Nadzór autorski</h3>
                    <p>Jeżeli masz już projekt ogrodu i potrzebujesz pomocy w jego wykonaniu, możesz skorzystać z usługi - nadzór autorski. Obejmuje ona zakup i rozstawienie roślin oraz inncyh niezbędnych materiałów do budowy ogrodu, kontrole prac na budowie, odbiór robót budowlanych, ewentualne rozwiązywanie zaistniałych problemów.</p>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>