<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="section-header">
            <div class="background-header blog-img">
                <div class="caption-header-background">
                    <h1>Blog</h1>
                    <h3 class="blog-header">Projektowanie ogrodów</h3>
                </div>
            </div>            
        </div>
        <div class="blog-wrapper-posts">
            <div class="container">
                <div class="blog-column">
                    <div class="blog-column-posts">
                        <div class="blog-image-posts">
                            <img src="/images/blog3-post.jpg" />
                        </div>
                        <div class="blog-description">
                            <h4 class="header-blog post">Projekt ogrodu na zboczu</h4>
                            <div class="time-post">
                                <i class="fa fa-clock-o p-color"></i>
                                <p>20 Styczeń, 2017</p>
                            </div>
                            <p class="paragraph-post">Wiele osób ma problem z zagospodarowaniem stromych zboczy w swoim ogrodzie. Okazuje się jednak, że taki teren to prawdziwy skarb, który można przekształcić w niesamowity ogród. Ale jak dokładnie zagospodarować taką przestrzeń, aby nadać funkcjonalności naszemu ogrodowi a zarazem uzyskać zadawalający rezultat wizualny. Oto kilka rozwiązań na wykorzystanie z pozoru trudnej dla nas przestrzeni:</p>
                            <p class="paragraph-post bigger">BUDOWA MURKÓW OPOROWYCH</p>
                            <p class="paragraph-post">Ściana oporowa jest oczywistym rozwiązaniem i sprawdza się dobrze, gdy chcemy uzyskać przed nią płaską powierzchnię. Tworzy się ją w miejscach o dużym nachyleniu zboczy, gdzie ziemia osypuje się. Murki oporowe mogą też czasem pełnić funkcję siedzisk. Przeważnie wykonuje się je z kamienia, drewna, bloczków betonowych lub betonu. Ciekawym rozwiązaniem jest utworzenie muru oporowego z metalu. Jest to droższa opcja jednak efekt końcowy może nas zachwycić. Szczególnie nowocześnie wygląda stal kortenowska.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/60760/Lafayette-contemporary-landscape-san-francisco' target='_blank'><img src='https://st.hzcdn.com/simgs/cd2106900c40cd9d_8-2360/contemporary-landscape.jpg' alt='' width='500' height='376'/></a><div class="img-caption-pos"><small>Photo by Randy Thueme Design Inc. - Landscape Architecture</small></div></div>
                            <p class="paragraph-post bigger">OGRÓD TARASOWY</p>
                            <p class="paragraph-post">Tworzenie ogrodu tarasowego polega na nadaniu przestrzeni schodkowego wyglądu. Poziome płaszczyzny wzmacnia się murkami oporowymi. Jest to dobre rozwiązanie, gdy chcemy przełamać strome zbocze w serię mniejszych płaskich płaszczyzn. Poprzez takie rozwiązanie woda wsiąka w głąb gleby zamiast spływać po stoku i zapobiega to erozji gleby. Oprócz praktycznych zastosowań trzeba tu wspomnieć o niezwykłym efekcie wizualnym. Jest to jedno z ładniejszych rozwiązań dla ogrodów na zboczu, niemniej jednak dość drogie.</p>
                            <div class="post-img-houzz"><a class="post-houzz-go" class="post-houzz-go" href='http://www.houzz.com/photos/3539316/Terraced-Dover-Haven-traditional-landscape-boston' target='_blank'><img src='https://st.hzcdn.com/simgs/3961d3720168293f_8-9076/traditional-landscape.jpg' alt='' width='500' height='334'/></a><div><small>Photo by a Blade of Grass</small></div></div>
                            <div class="post-img-houzz"><a  class="post-houzz-go" href='http://www.houzz.com/photos/693497/Portfolio-contemporary-landscape-austin' target='_blank'><img src='https://st.hzcdn.com/simgs/ff118ee30f679180_8-2079/contemporary-landscape.jpg' alt='' width='500' height='708'/></a><div><small>Photo by D-CRAIN Design and Construction</small></div></div>
                            <div class="post-img-houzz"><a  class="post-houzz-go" href='http://www.houzz.com/photos/8145953/Mosman-contemporary-deck-sydney' target='_blank'><img src='https://st.hzcdn.com/simgs/c9718bcd02dde1fb_8-6396/contemporary-deck.jpg' alt='' width='500' height='334'/></a><div><small>Photo by Harrison's Landscaping</small></div></div>
                            <p class="paragraph-post bigger">OGRÓD SKALNY</p>
                            <p class="paragraph-post">Bardzo popularne, najprostsze i najtańsze rozwiązanie to ogród skalny. Takie rozwiązanie sprawdza się lepiej na mniejszych, średnio lub słabo stromych zboczach. W ogrodzie skalnym ważne są głazy oraz dobór odpowiednich roślin. Wybierajmy kamień jednego rodzaju, nie mieszając różnego typu kamienia, gdyż taki efekt przyniesie bardzo niepożądany rezultat. Pamiętajmy także o doborze odpowiednich roślin. Najlepsze będą niektóre trawy, rojniki, rozchodniki i sukulenty, gdyż dobrze znoszą suche siedliska. </p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/9827332/lake-house-beach-style-landscape-other' target='_blank'><img src='https://st.hzcdn.com/simgs/90516d83032051af_8-6998/beach-style-landscape.jpg' alt='' width='500' height='332'/></a><div><small>Photo by Princeton Scapes Inc</small></div></div>
                            <p class="paragraph-post">Jeżeli jesteś miłośnikiem ogrodów śródziemnomorskich, taki ogród dobrze sprawdzi się na zboczu. Wiele roślin pochodzenia śródziemnomorskiego to doskonali kandydaci do uprawy na suchych skalistych stanowiskach m.in. lawenda wąskolistna, rozmaryn, juka karolińska.</p>
                            <p class="paragraph-post bigger">DEPTAK W POSTACI MOSTU</p>
                            <p class="paragraph-post">Przy niewielkich zboczach i nierównościach terenu możesz utworzyć deptak na podwyższeniu. Nada to bardzo ciekawego charakteru dla Twojego ogrodu, szczególnie, jeżeli otoczysz go wspaniałymi miskantami chińskimi. </p>
                            <div class="post-img-houzz"><a class="post-houzz-go" href='http://www.houzz.com/photos/60770/Lafayette-contemporary-landscape-san-francisco' target='_blank'><img src='https://st.hzcdn.com/simgs/4d81abd20c40d042_8-2330/contemporary-landscape.jpg' alt='' width='500' height='376'/></a><div class="img-caption-pos"><small>Photo by Randy Thueme Design Inc. - Landscape Architecture</small></div></div>
                            <div class="back-to-post">
                                <a class="back-blog" href="/blog">
                                    <i class="post-navigation-icon fa fa-angle-double-left"></i> WRÓĆ
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-column-about">
                        <div class="about-me">
                            <img src="/images/o-nas.png" />
                            <h6>TUIN</h6>
                            <p>Jesteśmy pasjonatami dobrego designu w zewnętrznych przestrzeniach, jak również miłośnikami roślin i naury.</p>
                        </div>
                        <div class="categories">
                            <aside id="categories" class="widget-categories">
                                <h4 class="widget-title">Categories</h4>
                                <ul>
                                    <li class="choose-item"><a href="/design">Design</a> (2)</li>
                                    <li class="choose-item"><a href="/handmade">Handmade</a> (1)</li>
                                    <li class="choose-item"><a href="/blog">Rośliny</a> (0)</li>
                                    <li class="choose-item"><a href="/blog">Drzewa</a> (0)</li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </body>
</html>